.header {
  --main-header-height: 107px;
  font-family: "TT Firs Neue",Roboto,Helvetica,"Open Sans",Arial,sans-serif;
  letter-spacing: .01em;
  position: relative
}
.header__main {
  position: relative;
  z-index: 2;
  background: var(--white);
  border-bottom: 1px solid var(--brand-dark-blue)
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__wrapper._main {
  height: var(--main-header-height);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0 16px
}
.header__lang {
  color: var(--gray);
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45px;
  flex: 0 0 45px;
  margin-right: 10px
}
.header__lang a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  font-size: .8125rem;
  line-height: 1.4;
  text-decoration: none;
  white-space: nowrap
}
.header__lang a:hover {
  color: var(--brand-dark-blue)
}
.header__lang a img,
.header__lang a svg {
  display: none;
  width: 20px;
  height: 13px;
  border: 1px solid var(--brand-light-gray)
}
.header__lang a.is-active {
  font-weight: 600;
  color: var(--brand-dark-blue)
}
.header__lang a.is-active img,
.header__lang a.is-active svg {
  display: block
}
.header__logo {
  color: var(--brand-dark-blue);
  margin: 5px 0
}
.header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.header__logo svg {
  fill: currentColor;
  width: 175px;
  height: 50px;
  -webkit-transition: width 0s;
  transition: width 0s
}
.header__partners {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 16px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 100%;
  height: 47px
}
.header__partners::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(var(--grid-padding) * -1);
  right: calc(var(--grid-padding) * -1);
  width: calc(100% + var(--grid-padding) * 2);
  bottom: 0;
  border-bottom: 1px solid var(--brand-dark-blue)
}
.header__partners a {
  display: block
}
.header__contacts {
  display: none;
  border-right: 1px solid var(--brand-dark-blue)
}
.header__profile {
  margin-left: auto
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header__nav {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
  background: var(--brand-dark-blue);
  color: var(--white);
  width: 100%;
  -webkit-transform: translateY(calc(-100% - var(--main-header-height) - 1px));
  -ms-transform: translateY(calc(-100% - var(--main-header-height) - 1px));
  transform: translateY(calc(-100% - var(--main-header-height) - 1px));
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out
}
.header__nav.is-active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  max-height: calc(100vh - var(--main-header-height));
  overflow: hidden;
  overflow-y: auto
}
.header__sub {
  background: var(--white);
  overflow: hidden;
  overflow-x: auto
}
.header-subnav {
  --content-max-width: 1440px;
  --space-md: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] 1fr [content-start] min(var(--content-max-width),100% - var(--space-md) * 2) [content-end] 1fr [full-end];
  grid-template-columns: [full-start] 1fr [content-start] min(var(--content-max-width),100% - var(--space-md) * 2) [content-end] 1fr [full-end]
}
.header-subnav__wrapper {
  --grid-padding: 18px;
  grid-column: content;
  display: -ms-grid;
  display: grid;
  padding-left: var(--grid-padding);
  position: relative
}
.header-subnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 46px
}
.header-address {
  font-size: .75rem;
  line-height: 117%
}
.header-phone {
  font-weight: 600;
  font-size: .8125rem;
  line-height: 94%
}
.profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6px
}
.profile-link:hover .profile-link__icon {
  background: var(--brand-red)
}
.profile-link__icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--accent-svetlo-goluboy);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}
.profile-link__icon img,
.profile-link__icon svg {
  display: block;
  width: 27px;
  height: 27px;
  margin: -2px 1px 0 0
}
.profile-link__text {
  display: none;
  font-size: .75rem;
  line-height: 117%;
  width: 55px
}
.menu-toggle {
  opacity: 0!important;
  display: none!important;
  visibility: hidden!important
}
.menu-toggle:checked ~ .hamburger-box .hamburger-inner {
  -webkit-transition-delay: .12s;
  transition-delay: .12s;
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.menu-toggle:checked ~ .hamburger-box .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 75ms ease,opacity 75ms ease .12s;
  transition: top 75ms ease,opacity 75ms ease .12s;
  opacity: 0
}
.menu-toggle:checked ~ .hamburger-box .hamburger-inner::after {
  bottom: 0;
  -webkit-transition: bottom 75ms ease,-webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
  transition: bottom 75ms ease,-webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
  transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
  transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s,-webkit-transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.hamburger-box {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  position: absolute;
  width: 35px;
  height: 2px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  background: var(--brand-dark-blue)
}
.hamburger-inner::after,
.hamburger-inner::before {
  display: block;
  content: ""
}
.hamburger-inner {
  top: 50%;
  -webkit-transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  -webkit-transition-duration: 75ms;
  transition-duration: 75ms
}
.hamburger-inner::before {
  top: -10px;
  -webkit-transition: top 75ms ease .12s,opacity 75ms ease;
  transition: top 75ms ease .12s,opacity 75ms ease
}
.hamburger-inner::after {
  bottom: -10px;
  -webkit-transition: bottom 75ms ease .12s,-webkit-transform 75ms cubic-bezier(.55,.055,.675,.19);
  transition: bottom 75ms ease .12s,-webkit-transform 75ms cubic-bezier(.55,.055,.675,.19);
  transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
  transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19),-webkit-transform 75ms cubic-bezier(.55,.055,.675,.19)
}
@media (min-width:375px) {
  .header__logo svg {
    width: 229px;
    width: clamp(229px,20vw,300px)
  }
}
@media (min-width:768px) {
  .header {
    --main-header-height: 80px
  }
  .header__wrapper._main {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }
  .header__logo {
    margin: 0
  }
  .header__partners::after {
    display: none
  }
  .header__partners {
    margin: 0 auto;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: auto;
    height: auto;
    gap: 20px
  }
}
@media (min-width:1024px) {
  .header {
    --main-header-height: 94px
  }
  .header__lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .header__partners {
    gap: 15px
  }
  .header__contacts {
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 160px;
    flex: 1 0 160px;
    max-width: 200px
  }
  .header__profile {
    margin-left: 0
  }
  .header-subnav__list {
    height: 59px
  }
  .profile-link__text {
    display: block
  }
}
@media (min-width:1280px) {
  .header__partners {
    gap: 20px
  }
  .header__contacts {
    padding-right: 18px;
    width: auto
  }
  .header-subnav__wrapper {
    --grid-padding: 49px
  }
}