<div class="content bg-fioletovyy bg-full">

	<div class="block-text banner-top row">
		<div class="col-md-6">
			<div class="block-text__decor">
				<div class="character character_left character_type-1">
					<svg>
						<use xlink:href="#character-3"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">С нами будет интересно!</div>
				</div>
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-13-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-13-768.jpg">
						<source srcset="@img/block-text-decor-13-320.jpg">
						<img src="@img/block-text-decor-13-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="block-text__banner-wrapper">
				<div class="block-text__banner-header">
					Развлекательные мероприятия круглый год!
				</div>
				<div class="block-text__banner-subheader">
					Наши студенты принимают участие в&nbsp;мероприятиях Академии. Спектр проводимых мероприятий и&nbsp;работающих студенческих кружков очень широк.
				</div>
				<div class="block-text__buttons">
					<a href="javascript:void(0)" class="btn btn_red">Все мероприятия</a>
				</div>
			</div>
		</div>
	</div>

</div>