.banner-top {
	padding-bottom: 50px;

	.block-text__decor {
		.character {
			bottom: -50px;

			@include resp-from(md) {
				bottom: 15px;
			}
		}
	}

	.block-text__decor-img {
		img,
		picture {
			@include resp-to(md) {
				margin: 0 auto;
			}
		}
	}
}
