.btn {
	cursor: pointer;
	padding: 7px 24px 6px;
	min-height: 44px;
	width: fit-content;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: $family-firs;
	font-size: rem(20);
	line-height: 1.1;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-align: center;
	color: currentColor;
	background: transparent;
	border: 1px solid currentColor;
	user-select: none;
	transition: all $transition-default;

	@include resp-to(sm) {
		width: 100%;
	}

	@include resp-from(lg) {
		font-size: rem(26);
	}

	@include on-active {
		color: $white;
		background: $brand-red;
		border-color: $brand-red;
	}

	@media (hover: hover) {
		@include on-hover {
			color: $white;
			background: $brand-red;
			border-color: $brand-red;
		}
	}

	@include resp-to(md) {
		color: $white;
		background: $brand-red;
		border-color: $brand-red;
	}

	// .btn_red
	&_red {
		color: $white;
		background: $brand-red;
		border-color: $brand-red;

		@media (hover: hover) {
			@include on-hover {
				background: $accent-brusnika;
				border-color: $accent-brusnika;
			}
		}
	}

	// .btn_small
	&_small {
		padding: 3px 12px 0;
		min-height: 29px;
		font-size: rem(14) !important;
	}
}
