.btn {
	cursor: pointer;
	padding: 7px 24px 6px;
	min-height: 44px;
	width: fit-content;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: $family-firs;
	font-size: rem(20);
	line-height: 1.1;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-align: center;
	color: currentColor;
	background: transparent;
	border: 1px solid currentColor;
	user-select: none;
	transition: all $transition-default;

	@include resp-to(sm) {
		width: 100%;
	}

	@include resp-from(lg) {
		font-size: rem(26);
	}

	@include on-active {
		color: $white;
		background: $brand-red;
		border-color: $brand-red;
	}

	@media (hover: hover) {
		@include on-hover {
			color: $white;
			background: $brand-red;
			border-color: $brand-red;
		}
	}

	@include resp-to(md) {
		color: $white;
		background: $brand-red;
		border-color: $brand-red;
	}

	// .btn_red
	&_red {
		color: $white;
		background: $brand-red;
		border-color: $brand-red;

		@media (hover: hover) {
			@include on-hover {
				background: $accent-brusnika;
				border-color: $accent-brusnika;
			}
		}
	}

	// .btn_small
	&_small {
		padding: 3px 12px 0;
		min-height: 29px;
		font-size: rem(14) !important;
	}

	// .btn_close
	&_close {
		--color: #{$gray-dark};
		position: absolute;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 15px;
		right: 17px;
		width: 24px;
		height: 24px;
		min-height: auto;
		padding: 0;
		border: 0;
		background-color: transparent !important;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 1px;
			height: 18px;
			background-color: var(--color);
			transition: background-color $transition-default;
			// box-shadow: 0 0 1px 0 $black;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		@include on-hover {
			&::before,
			&::after {
				--color: #{$brand-red};
			}
		}
	}

	// .btn_close-modal
	&_close-modal {
		position: absolute;
		top: var(--modal-padding-y);
		right: calc(var(--modal-padding-x) - 5px);

		@include resp-to(md) {
			&::before,
			&::after {
				height: 25px;
			}
		}
	}
}
