.character {
	display: flex;
	flex-direction: column;
	align-items: center;

	svg {
		width: 167px;
		height: 178px;
		margin-right: -10%;
		margin-bottom: -15%;
	}

	&_type-1 {
		svg {
			filter: drop-shadow(0 0 #6fce1d);
		}
	}

	&_type-2 {
		svg {
			filter: drop-shadow(0 0 #44268c);
		}
	}

	&_type-3 {
		svg {
			filter: drop-shadow(0 0 #003f85);
		}
	}

	&_type-4 {
		svg {
			filter: drop-shadow(0 0 #6e1a1c);
		}
	}

	&_type-5 {
		svg {
			margin-bottom: -20%;
			filter: drop-shadow(0 0 #216a57);
		}
	}

	&_type-6 {
		svg {
			filter: drop-shadow(0 0 #357b7b);
		}
	}

	&_left {
		@include resp-from(md) {
			align-items: flex-start;
		}
	}

	@include when-inside(".swiper-characters") {
		svg {
			width: 150px;
			height: 160px;
			margin-bottom: 0;

			@include resp-from(md) {
				width: 123px;
				height: 130px;
			}
		}
	}

	@include when-inside(".block-text__decor") {
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: -25px;
		margin-right: calc(var(--grid-padding) * -1);

		@include resp-from(md) {
			right: auto;
			left: 0;
		}

		@include resp-from(lg) {
			margin-right: 0;
		}

		&_type-1 {
			svg {
				width: 133px;
				height: 142px;
				margin-right: 0;
				margin-bottom: -25px;

				@include resp-from(xl) {
					width: 175px;
					height: 187px;
				}
			}
		}

		&_type-2 {
			svg {
				width: 143px;
				height: 152px;
				margin-right: 0;
				margin-bottom: -50px;

				@include resp-from(xl) {
					width: 188px;
					height: 200px;
				}
			}
		}
	}

	@include when-inside(".order-md-last") {
		left: auto;
		right: 0;
	}
}

.frame {
	font-family: $family-hint;
	color: $white;
	font-size: rem(18);
	font-weight: 500;
	line-height: 96%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	z-index: 1;

	@include resp-from(xl) {
		font-size: rem(20);
	}

	@include when-inside(".swiper") {
		font-size: rem(18);

		@include resp-from(md) {
			font-size: rem(13);
		}
	}

	@include when-inside(".swiper-characters") {
		align-self: flex-start;
	}

	// .frame_brand-red
	&_brand-red {
		background: $brand-red;
	}

	// .frame_accent-siniy
	&_accent-siniy {
		background: $accent-siniy;
	}

	// .frame_accent-fioletovyy
	&_accent-fioletovyy {
		background: $accent-fioletovyy;
	}

	// .frame_accent-salatovyy
	&_accent-salatovyy {
		background: $accent-salatovyy;
	}

	// .frame_accent-ohro-krasnyy
	&_accent-ohro-krasnyy {
		background: $accent-ohro-krasnyy;
	}

	// .frame_accent-red
	&_accent-red {
		background: $brand-red;
	}

	// .frame_accent-smaragd
	&_accent-smaragd {
		background: $accent-smaragd;
	}

	// .frame_shape-1
	&_shape-1 {
		clip-path: polygon(0 50%, 15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%);
		padding: 18px 30px;
	}

	// .frame_shape-2
	&_shape-2 {
		clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
		padding: 18px 30px;
	}

	// .frame_shape-3
	&_shape-3 {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 361 153'%3E%3Cpath d='M264.69.77c-48.14 0-48.14 29.06-96.3 29.06-48.15 0-48.13-29.06-96.26-29.06C33.75.77 25.94 19.2 0 26.7v122.24C25.94 141.47 33.75 123 72.13 123c48.13 0 48.13 29.06 96.27 29.06 48.13 0 48.15-29.06 96.29-29.06 48.13 0 48.15 29.06 96.31 29.06V29.83c-48.16 0-48.16-29.06-96.31-29.06Z'/%3E%3C/svg%3E");
		mask-repeat: no-repeat;
		padding: 10px;
	}

	// .frame_shape-4
	&_shape-4 {
		mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 262 67'%3E%3Cpath d='M261 0H0a33.78 33.78 0 0 0 8.5 22.52c2.7 2.99 4.2 6.91 4.2 10.98s-1.5 7.99-4.2 10.98A33.78 33.78 0 0 0 0 67h261.04a33.78 33.78 0 0 0-8.5-22.52c-2.7-2.99-4.2-6.91-4.2-10.98s1.5-7.99 4.2-10.98A33.78 33.78 0 0 0 261 0Z'/%3E%3C/svg%3E");
		mask-repeat: no-repeat;
		mask-size: cover;
		max-width: 271px;
		padding: 13px 40px 12px 30px;
	}

	@include when-inside(".swiper") {
		transform: translateY(-40%);

		&_shape-2 {
			padding: 11px 30px 12px 16px;
		}

		&_shape-3 {
			width: 200px;
			height: 85px;
			padding: 10px 10px 10px 16px;

			@include resp-from(md) {
				width: 153px;
				height: 64px;
				margin-top: -7px;
			}
		}
	}

	@include when-inside(".block-text__decor") {
		font-size: rem(18);

		@include resp-from(md) {
			font-size: rem(19);
		}

		&_shape-3 {
			width: 210px;
			height: 89px;
			padding: 10px 10px 10px 18px;
		}
	}
}
