.rating {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 25px;

	// .rating__place
	&__place {
		font-family: $family-firs;
		color: $brand-red;
		font-size: rem(72);
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.04em;

		@include resp-from(md) {
			font-size: rem(95);
		}
	}

	// .rating__text
	&__text {
		max-width: 170px;
		font-size: rem(16);
		line-height: 1.1;
		text-transform: uppercase;
		padding-bottom: 5px;

		@include resp-from(lg) {
			font-size: rem(22);
			max-width: 230px;
		}
	}
}

.badge {
	display: none;
	position: absolute;
	left: 17px;
	margin-top: 50px;

	@include resp-from(xl) {
		display: block;
	}

	// .badge_vertical
	&_vertical {
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}

	// .badge__link
	&__link {
		font-family: $family-firs;
		font-size: rem(17);
		font-weight: 600;
		letter-spacing: 0.03em;
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
		padding: 12px 17px 12px 11px;
		background: $brand-electric;

		@include on-event {
			color: $white;
			background: $red;
		}
	}
}

.arrows-line {
	position: relative;
	display: flex;
	align-items: center;
	margin: 20px 0;

	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		background: $brand-color-primary;
	}

	// .arrows-line__decor
	&__decor {
		width: 100%;
		height: 28px;
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='250' height='28' viewBox='0 0 16 28'%3E%3Cpath fill='%23fff' d='M0 0h16v28H0z'/%3E%3Cpath stroke='%23101551' d='M2.73 4.27 12.46 14l-9.73 9.73'/%3E%3C/svg%3E")
			center repeat-x;
	}
}

.block-heading {
	display: flex;
	align-items: center;
	padding-top: 20px;

	& > div > * {
		margin-bottom: 0;
	}
}

.achievements {
	margin: 20px auto;

	// @include resp-from(lg) {
	// 	max-width: 80vw;
	// }
}

.achievement {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 24px;

	@include resp-from(md) {
		flex-direction: row;
		align-items: flex-start;
		gap: 20px;
	}

	@include resp-from(xl) {
		gap: 30px;
	}

	// .achievement__title
	&__title {
		font-family: $family-firs;
		font-size: rem(120);
		font-weight: 600;
		line-height: 0.82;
		color: $brand-red;
		margin-bottom: 16px;

		@include resp-from(md) {
			font-size: rem(80);
		}

		span {
			display: block;
			font-size: rem(32);
			line-height: 75%;

			@include resp-from(md) {
				font-size: rem(20);
				line-height: 120%;
			}
		}
	}

	// .achievement__body
	&__body {
		font-size: rem(16);
		line-height: 1.3;
		width: 80vw;

		@include resp-from(md) {
			line-height: 1.1;
			width: auto;
		}

		@include resp-from(xl) {
			font-size: rem(14);
			line-height: 1.3;
		}

		b,
		strong {
			display: block;
			text-align: center;
			font-size: rem(20);
			font-weight: 700;
			line-height: 1.1;
			margin-bottom: 10px;

			@include resp-from(md) {
				text-align: left;
			}

			@include resp-from(xl) {
				font-size: rem(22);
				margin-bottom: 16px;
			}
		}
	}

	// .achievement__shape
	&__shape {
		font-family: $family-firs;
		font-size: rem(48);
		font-weight: 600;
		line-height: 1;
		background: $brand-red;
		color: $white;
		padding: 0 15px 15px;
		margin-bottom: 16px;
		min-width: 102px;
		width: 102px;
		height: 117px;
		clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
		align-content: center;
		text-align: center;

		@include resp-from(md) {
			font-size: rem(48);
		}

		span {
			display: block;
			font-size: rem(32);
			line-height: 1;

			@include resp-from(md) {
				// font-size: rem(30);
				// line-height: 120%;
			}
		}
	}
}

.grid-decor {
	display: flex;
	flex-direction: column;
	gap: 44px;

	@include resp-from(xl) {
		flex-direction: row;
	}

	// .grid-decor__decor
	&__decor {
		flex: 1 0 auto;
		width: 212px;
	}

	// .grid-decor__body
	&__body {
	}
}

.text-cols {
	gap: 20px 40px;
	padding-bottom: 40px;
	margin-bottom: 50px !important;
	border-bottom: 1px solid $brand-color-primary;
}

.text-col-title {
	font-family: $family-firs;
	font-size: rem(120);
	font-weight: 600;
	line-height: 0.68;
	color: $brand-red;
	margin-bottom: 16px;

	display: flex;
	align-items: flex-end;
	gap: 12px;

	@include resp-from(md) {
		font-size: rem(80);
		display: block;
	}

	span {
		display: block;
		font-size: rem(20);
		line-height: 1.1;

		@include resp-from(md) {
			font-size: rem(20);
			line-height: 1.2;
		}
	}
}

.text-col-body {
	font-size: rem(16);
	line-height: 1.3;
	width: 80vw;
	color: $gray-dark;

	@include resp-from(md) {
		line-height: 1.1;
		width: auto;
	}

	@include resp-from(xl) {
		line-height: 1.1;
	}

	h4,
	.h4 {
		font-family: $family-hint;
		font-weight: 700;
		color: $brand-color-primary;
	}

	// b,
	// strong {
	// 	display: block;
	// 	text-align: center;
	// 	font-size: rem(20);
	// 	font-weight: 700;
	// 	line-height: 1.1;

	// 	@include resp-from(md) {
	// 		text-align: left;
	// 	}

	// 	@include resp-from(xl) {
	// 		font-size: rem(22);
	// 		line-height: 1.3;
	// 	}
	// }
}
