.rating {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 25px;

	// .rating__place
	&__place {
		font-family: $family-firs;
		color: $brand-red;
		font-size: rem(72);
		font-weight: 600;
		line-height: 1;
		letter-spacing: 0.04em;

		@include resp-from(md) {
			font-size: rem(95);
		}
	}

	// .rating__text
	&__text {
		max-width: 170px;
		font-size: rem(16);
		line-height: 1.1;
		text-transform: uppercase;
		padding-bottom: 5px;

		@include resp-from(lg) {
			font-size: rem(22);
			max-width: 230px;
		}
	}
}

.badge {
	display: none;
	position: absolute;
	left: 17px;
	margin-top: 50px;

	@include resp-from(xl) {
		display: block;
	}

	// .badge_vertical
	&_vertical {
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}

	// .badge__link
	&__link {
		font-family: $family-firs;
		font-size: rem(17);
		font-weight: 600;
		letter-spacing: 0.03em;
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
		padding: 12px 17px 12px 11px;
		background: $brand-electric;

		@include on-hover {
			background: $accent-siniy;
		}
	}
}
