.scrollblock {
	overflow: hidden;

	&.scroll-x {
		overflow-x: auto;

		&::-webkit-scrollbar-track {
			// border-bottom: 2px solid $gray;
		}

		&::-webkit-scrollbar-thumb {
			border-bottom: 7px solid #c7d0d6;
		}
	}

	&.scroll-y {
		overflow-y: auto;

		&::-webkit-scrollbar-track {
			// border-right: 2px solid $gray;
		}

		&::-webkit-scrollbar-thumb {
			border-right: 6px solid #c7d0d6;
		}
	}

	// overscroll-behavior: contain; // https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
	// overscroll-behavior-x: contain;
	// overscroll-behavior-y: contain;

	/* Firefox */
	@supports (-moz-appearance: none) {
		scrollbar-width: thin;
		scrollbar-color: #c7d0d6 #f3f7fa;
	}

	/* Chrome, Edge and Safari */
	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
	}

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-track:hover,
	&::-webkit-scrollbar-track:active {
		background-color: #f3f7fa;
	}

	&::-webkit-scrollbar-thumb:hover,
	&::-webkit-scrollbar-thumb:active {
		border-color: #b8c3ca;
	}
}

.hide-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
}
