/**
 * Backgrounds
 */
.bg-white {
	background: $white;
	--bg-full: #{$white};
}

.bg-dark-blue {
	color: $white;
	background: $brand-dark-blue;
	--bg-full: #{$brand-dark-blue};
	--selection-bgr: #{$accent-svetlo-goluboy};
	--selection-text: #{$brand-color-primary};
}

.bg-full {
	box-shadow: 0 0 0 100vmax var(--bg-full);
	clip-path: inset(0 -100vmax);
}

// .bg-full-vertical {
// 	box-shadow: 0 0 0 100vmax var(--bg-full);
// 	clip-path: inset(-100vmax 0);
// }

/**
 * Selections
 */
::-moz-selection {
	background: $selectionBgr;
	color: $selectionText;
}

::selection {
	background: $selectionBgr;
	color: $selectionText;
}

img::-moz-selection {
	background: $selectionBgrImg;
	color: transparent;
}

img::selection {
	background: $selectionBgrImg;
	color: transparent;
}
