/**
 * Backgrounds
 */
.bg-white {
	background: $white !important;
	--bg-full: #{$white};
}

.bg-red {
	background: $brand-red !important;
	--bg-full: #{$brand-red};

	.btn {
		border-color: $white;

		@include on-hover {
			border-color: $accent-brusnika;
		}
	}
}

.bg-blue {
	color: $white;
	background: $brand-color-primary !important;
	--bg-full: #{$brand-color-primary};
}

.bg-siniy {
	color: $white;
	background: $accent-siniy !important;
	--bg-full: #{$accent-siniy};
}

.bg-light-blue {
	background: $accent-svetlo-goluboy !important;
	--bg-full: #{$accent-svetlo-goluboy};
}

.bg-electric {
	color: $white;
	background: $brand-electric !important;
	--bg-full: #{$brand-electric};
}

.bg-fioletovyy {
	color: $white;
	background: $accent-fioletovyy !important;
	--bg-full: #{$accent-fioletovyy};
}

.bg-malahit {
	color: $white;
	background: $accent-malahit !important;
	--bg-full: #{$accent-malahit};
}

.bg-light-gray {
	background: $brand-light-gray !important;
	--bg-full: #{$brand-light-gray};
}

.bg-dark-blue {
	color: $white;
	background: $brand-dark-blue !important;
	--bg-full: #{$brand-dark-blue};
	--selection-bgr: #{$accent-svetlo-goluboy};
	--selection-text: #{$brand-color-primary};
}

.bg-full {
	box-shadow: 0 0 0 100vmax var(--bg-full);
	clip-path: inset(0 -100vmax);
}

// .bg-full-vertical {
// 	box-shadow: 0 0 0 100vmax var(--bg-full);
// 	clip-path: inset(-100vmax 0);
// }

/**
 * Selections
 */
::-moz-selection {
	background: $selectionBgr;
	color: $selectionText;
}

::selection {
	background: $selectionBgr;
	color: $selectionText;
}

img::-moz-selection {
	background: $selectionBgrImg;
	color: transparent;
}

img::selection {
	background: $selectionBgrImg;
	color: transparent;
}
