// -----------------------------------------------------------------------------
// Файл с описанием контейнера и сетки
// -----------------------------------------------------------------------------

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
	min-width: $min-width;
	width: 100%; /* 1 */
	margin-left: auto; /* 2 */
	margin-right: auto; /* 2 */
	padding: 0; /* 3 */
	flex: 1;
}

/**
 * Content
 */
.content {
	--grid-padding: #{$min-padding};
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--grid-padding);
	padding-right: var(--grid-padding);
	position: relative;
	width: 100%;

	@include resp-from(xl) {
		--grid-padding: #{$max-padding};
	}

	// .content_wide
	&_wide {
		max-width: 100%;
		padding: 0;
		display: flex;
		justify-content: center;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(var(--grid-padding) * -1);
	margin-right: calc(var(--grid-padding) * -1);
}

.row > * {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-left: calc(var(--grid-padding) * 1);
	padding-right: calc(var(--grid-padding) * 1);
	margin: calc(var(--grid-padding) * 0.5) 0;

	@include resp-from(xl) {
		padding-left: calc(var(--grid-padding) * 1);
		padding-right: calc(var(--grid-padding) * 1);
		margin: calc(var(--grid-padding) * 0.25) 0;
	}
}

.offset-left {
	@include resp-from(xl) {
		padding-left: calc(var(--grid-padding) + #{$offset-left});
	}
}

.px-mobile-0 {
	@include resp-to(md) {
		padding-left: 0;
		padding-right: 0;
	}
}

.order-first {
	order: -1;
}

.order-md-first {
	@include resp-from(md) {
		order: -1;
	}
}

.order-0 {
	order: 0;
}

.order-1 {
	order: 1;
}

.order-last {
	order: 6;
}

// .col-2 {
// 	flex: 0 0 auto;
// 	width: 16.66666667%;
// }

.col-3 {
	flex: 0 0 auto;
	width: 25%;
}

.col-9 {
	flex: 0 0 auto;
	width: 75%;
}

// .col-10 {
// 	flex: 0 0 auto;
// 	width: 83.33333333%;
// }

.col-12 {
	flex: 0 0 auto;
	width: 100%;
}

@include resp-from(md) {
	// .col-md-auto {
	// 	flex: 0 0 auto;
	// 	width: auto;
	// }

	// .col-md-1 {
	// 	flex: 0 0 auto;
	// 	width: 8.33333333%;
	// }

	// .col-md-2 {
	// 	flex: 0 0 auto;
	// 	width: 16.66666667%;
	// }

	// .col-md-3 {
	// 	flex: 0 0 auto;
	// 	width: 25%;
	// }

	.col-md-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}

	.col-md-5 {
		flex: 0 0 auto;
		width: 41.66666667%;
	}

	.col-md-6 {
		flex: 0 0 auto;
		width: 50%;
	}

	.col-md-7 {
		flex: 0 0 auto;
		width: 58.33333333%;
	}

	.col-md-8 {
		flex: 0 0 auto;
		width: 66.66666667%;
	}

	// .col-md-9 {
	// 	flex: 0 0 auto;
	// 	width: 75%;
	// }

	// .col-md-10 {
	// 	flex: 0 0 auto;
	// 	width: 83.33333333%;
	// }

	// .col-md-11 {
	// 	flex: 0 0 auto;
	// 	width: 91.66666667%;
	// }

	// .col-md-12 {
	// 	flex: 0 0 auto;
	// 	width: 100%;
	// }

	// .offset-md-0 {
	// 	margin-left: 0;
	// }

	// .offset-md-1 {
	// 	margin-left: 8.33333333%;
	// }

	// .offset-md-2 {
	// 	margin-left: 16.66666667%;
	// }

	// .offset-md-3 {
	// 	margin-left: 25%;
	// }

	// .offset-md-4 {
	// 	margin-left: 33.33333333%;
	// }

	// .offset-md-5 {
	// 	margin-left: 41.66666667%;
	// }

	// .offset-md-6 {
	// 	margin-left: 50%;
	// }

	// .offset-md-7 {
	// 	margin-left: 58.33333333%;
	// }

	// .offset-md-8 {
	// 	margin-left: 66.66666667%;
	// }

	// .offset-md-9 {
	// 	margin-left: 75%;
	// }

	// .offset-md-10 {
	// 	margin-left: 83.33333333%;
	// }

	// .offset-md-11 {
	// 	margin-left: 91.66666667%;
	// }

	.order-md-first {
		order: -1 !important;
	}

	.order-md-0 {
		order: 0 !important;
	}

	.order-md-1 {
		order: 1 !important;
	}

	.order-md-last {
		order: 6 !important;
	}
}

@include resp-from(lg) {
	// .col-lg-auto {
	// 	flex: 0 0 auto;
	// 	width: auto;
	// }

	// .col-lg-1 {
	// 	flex: 0 0 auto;
	// 	width: 8.33333333%;
	// }

	// .col-lg-2 {
	// 	flex: 0 0 auto;
	// 	width: 16.66666667%;
	// }

	// .col-lg-3 {
	// 	flex: 0 0 auto;
	// 	width: 25%;
	// }

	// .col-lg-4 {
	// 	flex: 0 0 auto;
	// 	width: 33.33333333%;
	// }

	// .col-lg-5 {
	// 	flex: 0 0 auto;
	// 	width: 41.66666667%;
	// }

	// .col-lg-6 {
	// 	flex: 0 0 auto;
	// 	width: 50%;
	// }

	// .col-lg-7 {
	// 	flex: 0 0 auto;
	// 	width: 58.33333333%;
	// }

	// .col-lg-8 {
	// 	flex: 0 0 auto;
	// 	width: 66.66666667%;
	// }

	// .col-lg-9 {
	// 	flex: 0 0 auto;
	// 	width: 75%;
	// }

	// .col-lg-10 {
	// 	flex: 0 0 auto;
	// 	width: 83.33333333%;
	// }

	.col-lg-11 {
		flex: 0 0 auto;
		width: 91.66666667%;
	}

	// .col-lg-12 {
	// 	flex: 0 0 auto;
	// 	width: 100%;
	// }

	// .offset-lg-0 {
	// 	margin-left: 0;
	// }

	// .offset-lg-1 {
	// 	margin-left: 8.33333333%;
	// }

	// .offset-lg-2 {
	// 	margin-left: 16.66666667%;
	// }

	// .offset-lg-3 {
	// 	margin-left: 25%;
	// }

	// .offset-lg-4 {
	// 	margin-left: 33.33333333%;
	// }

	// .offset-lg-5 {
	// 	margin-left: 41.66666667%;
	// }

	// .offset-lg-6 {
	// 	margin-left: 50%;
	// }

	// .offset-lg-7 {
	// 	margin-left: 58.33333333%;
	// }

	// .offset-lg-8 {
	// 	margin-left: 66.66666667%;
	// }

	// .offset-lg-9 {
	// 	margin-left: 75%;
	// }

	// .offset-lg-10 {
	// 	margin-left: 83.33333333%;
	// }

	// .offset-lg-11 {
	// 	margin-left: 91.66666667%;
	// }

	// .order-lg-first {
	//   order: -1 !important;
	// }

	// .order-lg-0 {
	//   order: 0 !important;
	// }

	// .order-lg-1 {
	//   order: 1 !important;
	// }

	// .order-lg-last {
	//   order: 6 !important;
	// }
}

@include resp-from(xl) {
	// .col-xl-7 {
	// 	flex: 0 0 auto;
	// 	width: 58.33333333%;
	// }

	// .col-xl-8 {
	// 	flex: 0 0 auto;
	// 	width: 66.66666667%;
	// }

	.col-xl-9 {
		flex: 0 0 auto;
		width: 75%;
	}

	// .col-xl-10 {
	// 	flex: 0 0 auto;
	// 	width: 83.33333333%;
	// }
}
