// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
	overflow: hidden;
	padding: 0; /* 1 */
	text-indent: 101%;
	white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.hidden {
	display: none !important;
}

.nowrap {
	white-space: nowrap;
}

.noscroll {
	height: 100vh;
	overflow: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-visible {
	overflow: visible;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.justify-center {
	display: flex;
	justify-content: center;
}

.flex-end {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.align-end {
	display: flex;
	align-items: flex-end;
}

.flex-1 {
	flex: 1;
}

.gap-40 {
	gap: 40px !important;
}

@include resp-from(md) {
	.hidden-md {
		display: none !important;
	}

	.justify-end-md {
		display: flex;
		justify-content: flex-end;
	}
}

@include resp-to(md) {
	.hidden-to-md {
		display: none !important;
	}

	.justify-center-to-md {
		display: flex;
		justify-content: center !important;
	}
}

.mt-auto {
	margin-top: auto !important;
}

.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.z-1 {
	z-index: 1;
}

.mb40 {
	margin-bottom: 40px !important;
}

.mt40 {
	margin-top: 40px !important;
}

.pb20 {
	padding-bottom: 20px !important;
}