<div class="content">
	<div class="row">
		<div class="offset-left">
			<div class="block-text">
				<div class="h1">Напишите нам</div>
				<!-- <div class="block-text__body">Мы&nbsp;всегда радуемся, когда узнаём о&nbsp;результатах своих выпускников. <br>Вот несколько историй успеха.</div> -->
				<div class="block-text__body">Мы&nbsp;стараемся быть лучше и&nbsp;отслеживаем все <br>ваши предложения и&nbsp;пожелания.</div>
			</div>
			<form action="#" class="form row" method="post" novalidate>


				<div class="col-md-4">
					<div class="form__fieldset _column">
						<div class="form-item">
							<input type="text" name="name" value="" class="input input_fill" data-required aria-label="Имя" placeholder="Имя *">
						</div>
						<div class="form-item">
							<input type="text" name="surname" value="" class="input input_fill" data-required aria-label="Фамилия" placeholder="Фамилия *">
						</div>
						<div class="form-item">
							<input type="tel" name="phone" value="" class="input input_fill" data-required aria-label="Телефон" placeholder="Ваш телефон *" data-pattern-type="phone">
						</div>
					</div>
				</div>



				<div class="col-md-5">
					<div class="form__fieldset">
						<div class="form-item">
							<textarea name="message" class="textarea textarea_fill" data-required aria-label="Текст сообщения" placeholder=""></textarea>
						</div>
					</div>
				</div>


				<div class="col-md-3">
					<div class="form__fieldset">
						<div class="form-item justify-center-to-md align-end">
							<button type="submit" class="btn">Отправить</button>
						</div>
					</div>
				</div>






			</form>

		</div>
	</div>
</div>