// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
	--main-header-height: 107px;
	font-family: $family-firs;
	letter-spacing: 0.01em;
	position: relative;

	@include resp-from(md) {
		--main-header-height: 80px;
	}

	@include resp-from(lg) {
		--main-header-height: 94px;
	}

	// .header__main
	&__main {
		position: relative;
		z-index: 10;
		background: $white;
		border-bottom: 1px solid $brand-color-primary;
	}

	// .header__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&._main {
			height: var(--main-header-height);
			flex-wrap: wrap;
			gap: 0 16px;

			@include resp-from(md) {
				flex-wrap: nowrap;
			}
		}
	}

	// .header__lang
	&__lang {
		color: $gray;
		display: none;
		flex: 0 0 45px;
		margin-right: 10px;

		@include resp-from(lg) {
			display: flex;
			flex-direction: column;
		}

		a {
			display: flex;
			align-items: center;
			gap: 9px;
			font-size: rem(13);
			line-height: 1.4;
			text-decoration: none;
			white-space: nowrap;

			@include on-hover {
				color: $brand-color-primary;
			}

			svg,
			img {
				display: none;
				width: 20px;
				height: 13px;
				border: 1px solid $brand-light-gray;
			}

			&.is-active {
				font-weight: 600;
				color: $brand-color-primary;

				svg,
				img {
					display: block;
				}
			}
		}
	}

	// .header__logo
	&__logo {
		color: $brand-color-primary;
		margin: 5px 0;

		@include resp-from(md) {
			margin: 0;
		}

		a {
			display: flex;
			color: $brand-color-primary !important;
		}

		svg {
			fill: currentColor;
			width: 175px;
			height: 50px;
			transition: width 0s;

			@include resp-from(xs) {
				width: 229px;
				width: clamp(229px, 20vw, 300px);
			}
		}
	}

	// .header__partners
	&__partners {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		order: -1;
		width: 100%;
		height: 47px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: calc(var(--grid-padding) * -1);
			right: calc(var(--grid-padding) * -1);
			width: calc(100% + var(--grid-padding) * 2);
			bottom: 0;
			border-bottom: 1px solid $brand-color-primary;

			@include resp-from(md) {
				display: none;
			}
		}

		@include resp-from(md) {
			margin: 0 auto;
			order: 0;
			width: auto;
			height: auto;
			gap: 20px;
		}

		@include resp-from(lg) {
			gap: 15px;
		}

		@include resp-from(xl) {
			gap: 20px;
		}

		a {
			display: block;
		}

		img {
		}
	}

	// .header__contacts
	&__contacts {
		display: none;
		border-right: 1px solid $brand-color-primary;

		@include resp-from(lg) {
			padding-right: 10px;
			display: flex;
			flex-direction: column;
			gap: 4px;
			// width: 160px;
			// width: clamp(160px, 3vw, 200px);
			flex: 1 0 160px;
			max-width: 200px;
		}

		@include resp-from(xl) {
			padding-right: 18px;
			width: auto;
		}
	}

	// .header__profile
	&__profile {
		margin-left: auto;

		@include resp-from(lg) {
			margin-left: 0;
		}
	}

	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
	}

	// .header__nav
	&__nav {
		position: absolute;
		z-index: 9;
		overflow: hidden;
		overflow-y: auto;
		background: $brand-color-primary;
		color: $white;
		width: 100%;
		transform: translateY(calc(-100% - var(--main-header-height) - 1px));
		transition: transform 0.5s ease-in-out;

		&.is-active {
			transform: translateY(0);
			max-height: calc(100vh - var(--main-header-height));
			// padding-top: 94px;
			// top: -94px;
			// bottom: 0;
			overflow: hidden;
			overflow-y: auto;
			// scrollbar-width: none
		}
	}

	// .header__sub
	&__sub {
		background: $white;
		overflow: hidden;
		overflow-x: auto;
		position: relative;
		z-index: 8;
	}
}

.header-subnav {
	--content-max-width: #{$max-width};
	--space-md: 0px;

	display: grid;
	grid-template-columns:
		[full-start] 1fr
		[content-start]
		min(var(--content-max-width), 100% - var(--space-md) * 2)
		[content-end]
		1fr [full-end];

	// .header-subnav__wrapper
	&__wrapper {
		--grid-padding: #{$min-padding};
		grid-column: content; // с full слева больше отступ
		display: grid;
		// grid-template-columns: inherit;
		padding-left: var(--grid-padding);
		position: relative;

		@include resp-from(xl) {
			--grid-padding: #{$max-padding};
		}
	}

	// .header-subnav__list
	&__list {
		// grid-column: content;
		display: flex;
		align-items: center;
		height: 46px;

		@include resp-from(lg) {
			height: 59px;
		}
	}
}

.header-subnav-inner {
	background: $white;
	border-bottom: 1px solid $brand-color-primary;

	// .header-subnav-inner__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	// .header-subnav-inner__label
	&__label {
		flex: 0 1 auto;
		font-weight: 600;
		font-size: rem(16);
		line-height: 125%;
		letter-spacing: 0.03em;
		text-transform: uppercase;

		@include resp-from(xl) {
			font-size: rem(20);
			line-height: 109%;
		}
	}

	// .header-subnav-inner__list
	&__list {
		background: $white;
		display: flex;
		align-items: center;

		position: absolute;
		z-index: -1;
		left: 0;
		bottom: 0;
		width: 100%;
		height: fit-content;
		padding: var(--grid-padding);

		@include resp-from(xl) {
			position: relative;
			z-index: 1;
			width: auto;
			padding: 0;
		}

		&.is-active {
			z-index: 7;
			top: 100%;
			border-bottom: 1px solid $brand-color-primary;

			@include resp-from(xl) {
				z-index: 1;
				top: 0;
				border: 0;
			}
		}
	}

	// .header-subnav-inner__toggle
	&__toggle {
		margin-left: auto;
	}
}

.header-address {
	font-size: rem(12);
	line-height: 117%;
}

.header-phone {
	font-weight: 600;
	font-size: rem(13);
	line-height: 94%;
}

.profile-link {
	display: flex;
	align-items: center;
	gap: 6px;

	@include on-hover {
		.profile-link__icon {
			background: $brand-red;
		}
	}

	@include on-event {
		color: $brand-color-primary;
		text-decoration-color: $brand-color-primary;
	}

	// .profile-link__icon
	&__icon {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background: $accent-svetlo-goluboy;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all $transition-default;

		img,
		svg {
			display: block;
			width: 27px;
			height: 27px;
			margin: -2px 1px 0 0;
		}
	}

	// .profile-link__text
	&__text {
		display: none;
		font-size: rem(12);
		line-height: 117%;
		width: 55px;

		@include resp-from(lg) {
			display: block;
		}
	}
}
