.menu-toggle {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;

	&:checked {
		~ .hamburger-box .hamburger-inner {
			transition-delay: 0.12s;
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			transform: rotate(45deg);
		}

		~ .hamburger-box .hamburger-inner::before {
			top: 0;
			transition: top 75ms ease, opacity 75ms ease 0.12s;
			opacity: 0;
		}

		~ .hamburger-box .hamburger-inner::after {
			bottom: 0;
			transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
			transform: rotate(-90deg);
		}
	}
}

.submenu-toggle {
	--cross-size: 33px;
	position: relative;
	cursor: pointer;
	width: var(--cross-size);
	height: var(--cross-size);
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: 0;

	@include resp-from(xl) {
		display: none;
	}

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		transition: all $transition-default;
	}

	&::before {
		right: calc((var(--cross-size) - 1px) / 2);
		height: var(--cross-size);
		border-left: 1px solid $black;
		z-index: 1;
	}

	&::after {
		right: 0;
		width: var(--cross-size);
		border-top: 1px solid $black;
	}

	&.is-active {
		&::before {
			transform: rotate(90deg);
		}
	}
}

//* squeeze style from https://jonsuh.com/hamburgers/ */
.hamburger-box {
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: $hamburger-size;
	height: $hamburger-size;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
	position: absolute;
	width: $hamburger-size;
	height: $hamburger-line;
	transition-timing-function: ease;
	transition-duration: 0.15s;
	transition-property: transform;
	background: $hamburger-color;
}

.hamburger-inner::after,
.hamburger-inner::before {
	display: block;
	content: "";
}

.hamburger-inner {
	top: 50%;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-duration: 75ms;
}

.hamburger-inner::before {
	top: -10px;
	transition: top 75ms ease 0.12s, opacity 75ms ease;
}

.hamburger-inner::after {
	bottom: -10px;
	transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
