//*! https://codepen.io/forestdump/pen/LYrMOLa */
.nav {
	--selection-bgr: #{$accent-svetlo-goluboy};
	--selection-text: #{$brand-color-primary};
	color: $brand-light-gray;

	@include resp-from(md) {
		--gap: 40px 15px;
	}

	@include resp-from(lg) {
		--gap: 40px 25px;
	}

	@include resp-from(xl) {
		--gap: 55px 33px;
	}

	// .nav__top
	&__top {
		position: relative;
		gap: 20px;
		padding: 22px 0;
		display: flex;
		align-items: center;
		// border-bottom: 1px solid $white;

		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			width: 200vw;
			transform: translateX(-50vw);
			border-bottom: 1px solid $white;
		}

		@include resp-from(md) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: var(--gap);
		}

		@include resp-from(lg) {
			grid-template-columns: repeat(5, 1fr);
		}
	}

	// .nav__body
	&__body {
		gap: 20px;
		padding: 22px 0;

		@include resp-from(xs) {
			columns: 3 155px;
		}

		@include resp-from(md) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: var(--gap);
		}

		@include resp-from(lg) {
			grid-template-columns: repeat(5, 1fr);
		}

		@include resp-from(xl) {
			padding: 50px 0 66px;
		}
	}

	// .nav__block
	&__block {
		display: flex;
		flex-direction: column;
		break-inside: avoid;
		margin-bottom: 23px;

		@include resp-from(md) {
			margin-bottom: 0;
		}

		&_last {
			display: none;

			@include resp-from(lg) {
				grid-area: 1 / 5 / 3 / 6;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		a {
			width: fit-content;
		}
	}

	// .nav__phone
	&__phone {
		@include resp-from(md) {
			display: none;
		}

		// .nav__phone_top
		&_top {
			display: none;

			@include resp-from(md) {
				display: block;
			}
		}
	}

	// .nav__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	// .nav__social
	&__social {
		display: flex;
		gap: 20px;

		svg {
			fill: $gray;
			width: 40px;
			height: 40px;
		}

		a {
			display: flex;

			@include on-hover {
				svg {
					fill: $brand-red;
				}
			}
		}
	}

	a {
		font-family: $family-hint;
		font-size: rem(16);
		font-weight: 300;
		line-height: 106%;
		margin-bottom: 10px;

		@include on-hover {
			color: $brand-red !important;
		}

		@include resp-from(md) {
			font-size: rem(18);
			line-height: 122%;

			&[href^="tel:"] {
				font-size: rem(16);
			}
		}

		@include resp-from(xl) {
			font-size: rem(20);
			line-height: 110%;

			&[href^="tel:"] {
				font-size: rem(20);
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		// некорректно отрабатывает cleanCSS: (nof.nav-heading)
		// &:nth-last-child(n of .nav-heading) {
		// 	margin-top: 13px;

		// 	@include resp-from(md) {
		// 		margin-top: auto;
		// 	}
		// }

		&.nav-heading {
			font-family: $family-firs;
			color: $white;
			font-size: rem(15);
			font-weight: 600;
			line-height: 130%;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			margin-bottom: 10px;

			@include resp-from(md) {
				font-size: rem(16);
				line-height: 110%;
				margin-bottom: 15px;
			}

			@include resp-from(xl) {
				font-size: rem(20);
				margin-bottom: 21px;
			}

			&:first-child {
				margin-top: 0 !important;
			}

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-top: 13px;

				@include resp-from(md) {
					margin-top: auto;
				}
			}
		}

		&.is-active {
			color: $brand-red;
			text-decoration-color: currentColor;
		}
	}
}

.nav-sub {
	--grid-padding: #{$min-padding};
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
	padding-right: var(--grid-padding);
	width: 100%;
	font-family: $family-hint;

	@include resp-from(xl) {
		--grid-padding: #{$max-padding};
	}

	a {
		font-size: rem(16);
		padding: 3px 10px 1px;
		border-radius: 10px;
		background: transparent;
		text-decoration: none;

		@include resp-from(lg) {
			font-size: rem(20);
			padding: 1px 10px;
		}

		@include resp-from(xl) {
			font-size: rem(21);
		}

		@include on-event {
			color: $white;
			background: $brand-color-primary;
		}

		&.is-active {
			color: $white;
			background: $brand-color-primary;
		}
	}
}

.nav-sub-inner {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	@include resp-from(xl) {
		gap: 10px 20px;
	}

	a {
		display: flex;
		align-items: center;
		height: 29px;
		font-size: rem(14);
		line-height: 91%;
		letter-spacing: 0.01em;
		text-decoration: none;
		border: 1px solid currentColor;
		background: $white;
		padding: 1px 10px 0;

		@include on-event {
			color: $white;
			background: $brand-color-primary;
			border-color: $brand-color-primary;
		}

		&.is-active {
			color: $white;
			background: $brand-color-primary;
			border-color: $brand-color-primary;
		}
	}
}
