<footer class="footer">
	<div class="content">
		<div class="footer__wrapper bg-dark-blue bg-full">
			<div class="footer__col">
				<div class="footer__header h1">Есть вопросы?<br>Свяжитесь с&nbsp;нами!</div>
				<div class="footer__contacts f-contacts">
					<div class="f-contacts__row">
						<div class="f-contacts__label">Секретариат:</div>
						<div class="f-contacts__data">
							<a href="tel:+74999569156">+7 (499) 956-91-56</a>
						</div>
					</div>
					<div class="f-contacts__row">
						<div class="f-contacts__label">Адрес:</div>
						<div class="f-contacts__data">
							<address class="f-contacts__address">ИБДА РАНХиГС при Президенте РФ. Москва, пр-т Вернадского&nbsp;82, корп.2, каб.&nbsp;243</address>
							<div class="f-contacts__address-info">
								Вход на&nbsp;территорию возможен только по&nbsp;пропускам (с&nbsp;паспортом). Заказать пропуск вы&nbsp;можете, связавшись заранее с&nbsp;представителем Факультета по&nbsp;телефону&nbsp;<a href="tel:+74999569156">+7 (499) 956-91-56</a>.
								<br><br>
								<a href="javascript:void(0)">Как нас найти</a>
							</div>
							<div class="f-contacts__contact-us">
								<a href="javascript:void(0)" class="btn">Связаться с нами</a>
								<div class="f-contacts__social">
									<a href="javascript:void(0)" aria-label="Телеграм">
										<svg>
											<use xlink:href="#social-tg"></use>
										</svg>
									</a>
									<a href="javascript:void(0)" aria-label="Вконтакте">
										<svg>
											<use xlink:href="#social-vk"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer__col">
				<div class="footer__logo">
					<svg>
						<use xlink:href="#logo-footer"></use>
					</svg>
				</div>
			</div>
		</div>
		<div class="footer__copyright copyright bg-white bg-full">
			<div class="copyright__logo">
				<svg>
					<use xlink:href="#logo"></use>
				</svg>
			</div>
			<div class="copyright__text">
				&copy; ФМО ИБДА 2024<br>
				Дизайн сайта <a href="https://cbiconsult.ru/" rel="nofollow" target="_blank">СBI Pioneer</a>
			</div>
		</div>
	</div>
</footer>