<nav class="nav" role="navigation">
	<div class="nav__top">
		<div></div>
		<div>
			<a href="javascript:void(0)">Блог</a>
		</div>
		<div>
			<a href="javascript:void(0)">Сообщество</a>
		</div>
		<div class="nav__phone nav__phone_top">
			<a href="tel:+74999569156">+ 7 (499) 956-91-56</a>
		</div>
	</div>

	<div class="nav__body">
		<div class="nav__block">
			<a href="javascript:void(0)" class="nav-heading">О&nbsp;факультете</a>
			<a href="javascript:void(0)">История</a>
			<a href="javascript:void(0)">Преподаватели</a>
			<!-- <a href="javascript:void(0)" class="is-active">Активный раздел</a> -->
		</div>

		<div class="nav__block">
			<a href="information.html" class="nav-heading @@information">Информация</a>
			<a href="information.html">Как поступить</a>
			<a href="information.html">Расписание</a>
			<a href="information.html">Гранты</a>
			<a href="information.html">Общежитие</a>
			<a href="information.html">Военно-учебный центр</a>
			<a href="information.html">Инфраструктура</a>
		</div>

		<div class="nav__block">
			<a href="programms.html" class="nav-heading @@programms">Программы</a>
			<a href="programms.html#multidisciplinary-training">Многопрофильное обучение</a>
			<a href="programms.html#zarubezhnoe-regionovedenie">Зарубежное регионоведение</a>
			<a href="programms.html#mezhdunarodnyj-bakalavriat">Международный бакалавриат</a>
			<a href="programms.html#yazykovye-programmy">Языковые программы</a>
		</div>

		<div class="nav__block">
			<a href="teachers.html" class="nav-heading @@teachers">Преподаватели</a>
		</div>



		<div class="nav__block">
			<a href="career.html" class="nav-heading @@career">Карьера</a>
			<a href="career.html#postroenie-karery">Построение карьеры</a>
			<a href="career.html#vakansii-fmo">Вакансии ФМО</a>
			<a href="career.html#vakansii-partnyorov">Вакансии партнёров</a>
			<a href="career.html#stazhirovki">Стажировки</a>
		</div>

		<div class="nav__block">
			<a href="non-educational-activities.html" class="nav-heading @@non-educational-activities">Внеучебная деятельность</a>
			<a href="non-educational-activities.html#kvn">КВН</a>
			<a href="non-educational-activities.html#sport">Спорт</a>
			<a href="non-educational-activities.html#konkursy">Конкурсы</a>
			<a href="non-educational-activities.html#volontyorstvo">Волонтёрство</a>
		</div>

		<div class="nav__block">
			<a href="javascript:void(0)" class="nav-heading">Партнёры</a>
			<a href="javascript:void(0)">Список</a>
			<a href="javascript:void(0)">Партнёрские программы</a>
			<a href="javascript:void(0)">Стажировки</a>
		</div>

		<div class="nav__block">
			<a href="javascript:void(0)" class="nav-heading">Публикации</a>
			<a href="javascript:void(0)">Архив статей</a>
			<a href="contacts.html" class="nav-heading @@contacts">Контакты</a>

			<div class="nav__contacts">
				<div class="nav__phone">
					<a href="tel:+74999569156">+ 7 (499) 956-91-56</a>
				</div>
				<div class="nav__social">
					<a href="javascript:void(0)" aria-label="Телеграм">
						<svg>
							<use xlink:href="#social-tg-white"></use>
						</svg>
					</a>
					<a href="javascript:void(0)" aria-label="Вконтакте">
						<svg>
							<use xlink:href="#social-vk-white"></use>
						</svg>
					</a>
				</div>
			</div>

		</div>


		<div class="nav__block nav__block_last">
			<div class="character character_type-4">
				<svg>
					<use xlink:href="#character-4"></use>
				</svg>
				<div class="frame frame_accent-siniy frame_shape-1">Номер 1 <br>в&nbsp;бизнес-рейтинге</div>
			</div>
		</div>
	</div>
</nav>