<div class="content bg-full bg-light-gray px-mobile-0 overflow-hidden">
	<div class="swiper-info swiper-info_gallery js-swiper-simple">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="@img/dev/swiper/info/slide-4.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<img src="@img/dev/swiper/info/slide-5.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<img src="@img/dev/swiper/info/slide-6.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>