<div class="swiper-quotes">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="quote">
					<div class="quote__row">
						<div class="quote__photo">
							<img src="@img/dev/swiper/placeholder-man.png" width="228" height="228" alt="Анна Драгина" loading="lazy">
						</div>
						<div class="quote__person">
							<div class="quote__name">
								Анна Драгина
							</div>
							<div class="quote__position">
								Менеджер отдела корпоративных коммуникаций в&nbsp;компании Loreal Russia
							</div>
						</div>
					</div>
					<div class="quote__body">
						&laquo;Цитата Анны lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit similique modi pariatur.&raquo;
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="quote">
					<div class="quote__row">
						<div class="quote__photo">
							<img src="@img/dev/swiper/placeholder-man.png" width="228" height="228" alt="Анна Драгина" loading="lazy">
						</div>
						<div class="quote__person">
							<div class="quote__name">
								Анна Драгина
							</div>
							<div class="quote__position">
								Менеджер отдела корпоративных коммуникаций в&nbsp;компании Loreal Russia
							</div>
						</div>
					</div>
					<div class="quote__body">
						&laquo;Цитата Анны lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit similique modi pariatur.&raquo;
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="quote">
					<div class="quote__row">
						<div class="quote__photo">
							<img src="@img/dev/swiper/placeholder-man.png" width="228" height="228" alt="Анна Драгина" loading="lazy">
						</div>
						<div class="quote__person">
							<div class="quote__name">
								Анна Драгина
							</div>
							<div class="quote__position">
								Менеджер отдела корпоративных коммуникаций в&nbsp;компании Loreal Russia
							</div>
						</div>
					</div>
					<div class="quote__body">
						&laquo;Цитата Анны lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit similique modi pariatur.&raquo;
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>