
<div class="content">
	<div class="row block-heading">
		<div class="offset-left">
			<div class="h3">@@title</div>
		</div>
	</div>
</div>

<div class="content px-mobile-0 overflow-hidden">
	<div class="swiper-news js-swiper-simple">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="swiper-news__content">
						<strong>Какая-то новость в две или три строки</strong>
						<div>Переезд в Академию народного хозяйства (АНХ) при Правительстве РФ, переименование</div>
						<a href="javascript:void(0)" class="btn btn_small">Узнать подробнее</a>
					</div>
					<img src="@img/dev/swiper/news/slide-1.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<div class="swiper-news__content bg-red">
						<strong>Какая-то новость в две или три строки</strong>
						<div>Переезд в Академию народного хозяйства (АНХ) при Правительстве РФ, переименование</div>
						<a href="javascript:void(0)" class="btn btn_small">Узнать подробнее</a>
					</div>
					<img src="@img/dev/swiper/news/slide-2.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<div class="swiper-news__content">
						<strong>Очень длинный заголовок какой-то важной новости</strong>
						<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam ab assumenda, eum repellendus aut similique obcaecati harum. Non, similique optio.</div>
						<a href="javascript:void(0)" class="btn btn_small">Узнать подробнее</a>
					</div>
					<img src="@img/dev/swiper/news/slide-3.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<div class="swiper-news__content bg-red">
						<strong>Lorem ipsum dolor sit amet</strong>
						<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quo dignissimos unde facilis, incidunt architecto!</div>
						<a href="javascript:void(0)" class="btn btn_small">Узнать подробнее</a>
					</div>
					<img src="@img/dev/swiper/news/slide-1.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<div class="swiper-news__content">
						<strong>Lorem ipsum dolor sit amet</strong>
						<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos!</div>
						<a href="javascript:void(0)" class="btn btn_small">Узнать подробнее</a>
					</div>
					<img src="@img/dev/swiper/news/slide-3.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<div class="swiper-news__content">
						<strong>Lorem ipsum dolor sit amet</strong>
						<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. A iure aliquid quisquam!</div>
						<a href="javascript:void(0)" class="btn btn_small">Узнать подробнее</a>
					</div>
					<img src="@img/dev/swiper/news/slide-2.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>