<div class="content bg-full bg-light-gray">
	<div class="row block-heading">
		<div class="offset-left col-md-6">
			<div class="h3">Примущества поступления</div>
		</div>
		<div class="col-md-6 hidden-to-md justify-end-md">
			<a href="javascript:void(0)" class="btn">Узнать подробнее</a>
		</div>
	</div>
</div>

<div class="content bg-full bg-light-gray px-mobile-0 overflow-hidden">
	<div class="swiper-info swiper-simple">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="swiper-info__content">
						<strong>Военный учебный центр</strong>
						<div>Что-то про военную кафедру и&nbsp;отсрочку студентам, кратко возможности учебного центра</div>
						<a href="javascript:void(0)" class="btn btn_small">Узнать подробнее</a>
					</div>
					<img src="@img/dev/swiper/info/slide-1.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<div class="swiper-info__content">
						<strong>Комфортные общежития</strong>
						<div>Что-то про количество мест в общежитиях, близость их от университета и так далее</div>
						<a href="javascript:void(0)" class="btn btn_small">Узнать подробнее</a>
					</div>
					<img src="@img/dev/swiper/info/slide-2.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
				<div class="swiper-slide">
					<div class="swiper-info__content">
						<strong>Инфраструктура и бонусы для судентов</strong>
						<div>Аудитории, оснащение, столовые, медицинские программы</div>
						<a href="javascript:void(0)" class="btn btn_small">Узнать подробнее</a>
					</div>
					<img src="@img/dev/swiper/info/slide-3.jpg" width="630" height="352" alt="" loading="lazy">
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>