<div class="content">
	<div class="row block-heading">
		<div class="offset-left col-md-6">
			<div class="h3">Преподаватели</div>
		</div>
		<div class="col-md-6 hidden-to-md justify-end-md">
			<a href="javascript:void(0)" class="btn">Все преподаватели</a>
		</div>
	</div>
</div>

<div class="content overflow-hidden">
	<div class="swiper-teachers js-swiper-auto">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="javascript:void(0)" class="swiper-teachers__link">
						<img src="@img/dev/swiper/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
						<div class="swiper-teachers__name">Баженов Евгений Алексеевич</div>
						<div class="swiper-teachers__position">Менеджмент и&nbsp;международное право</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:void(0)" class="swiper-teachers__link">
						<img src="@img/dev/swiper/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
						<div class="swiper-teachers__name">Черных Елизавета Максимовна</div>
						<div class="swiper-teachers__position">Основы мирового бизнес ориентирования</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:void(0)" class="swiper-teachers__link">
						<img src="@img/dev/swiper/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
						<div class="swiper-teachers__name">Балашов Георгий Александрович</div>
						<div class="swiper-teachers__position">Менеджмент и&nbsp;международное право</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:void(0)" class="swiper-teachers__link">
						<img src="@img/dev/swiper/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
						<div class="swiper-teachers__name">Архипов Платон Денисович</div>
						<div class="swiper-teachers__position">Основы мирового бизнес ориентирования</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:void(0)" class="swiper-teachers__link">
						<img src="@img/dev/swiper/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
						<div class="swiper-teachers__name">Чижова Елена Артёмовна</div>
						<div class="swiper-teachers__position">Менеджмент и&nbsp;международное право</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:void(0)" class="swiper-teachers__link">
						<img src="@img/dev/swiper/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
						<div class="swiper-teachers__name">Морозов Роман Романович</div>
						<div class="swiper-teachers__position">Основы мирового бизнес ориентирования</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:void(0)" class="swiper-teachers__link">
						<img src="@img/dev/swiper/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
						<div class="swiper-teachers__name">Русанова Стефания Олеговна</div>
						<div class="swiper-teachers__position">Менеджмент и&nbsp;международное право</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:void(0)" class="swiper-teachers__link">
						<img src="@img/dev/swiper/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
						<div class="swiper-teachers__name">Ковалев Дмитрий Львович</div>
						<div class="swiper-teachers__position">Основы мирового бизнес ориентирования</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:void(0)" class="swiper-teachers__link">
						<img src="@img/dev/swiper/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
						<div class="swiper-teachers__name">Ершов Григорий Серафимович</div>
						<div class="swiper-teachers__position">Менеджмент и&nbsp;международное право</div>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="javascript:void(0)" class="swiper-teachers__link">
						<img src="@img/dev/swiper/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
						<div class="swiper-teachers__name">Гришина Виктория Александровна</div>
						<div class="swiper-teachers__position">Основы мирового бизнес ориентирования</div>
					</a>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>