<div class="content px-mobile-0 overflow-hidden bg-full bg-light-gray">
	<div class="swiper-characters js-swiper-simple">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="swiper-characters__decor">
						<div class="character character_type-5">
							<svg>
								<use xlink:href="#character-5"></use>
							</svg>
							<div class="frame frame_accent-fioletovyy frame_shape-3">Настоящее бизнес-образование!</div>
						</div>
					</div>
					<div class="swiper-characters__content">
						<strong>Образовательные программы</strong>
						<div>Для поступления на&nbsp;программы факультета необходимо предоставить результаты ЕГЭ по&nbsp;предметам: история, русский язык, иностранный язык (любой), математика, обществознание.</div>
						<a href="javascript:void(0)" class="btn btn_small">Найти свою</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="swiper-characters__decor">
						<div class="character character_type-4">
							<svg>
								<use xlink:href="#character-4"></use>
							</svg>
							<div class="frame frame_accent-siniy frame_shape-2">Две страны &mdash; <br>два диплома!</div>
						</div>
					</div>
					<div class="swiper-characters__content">
						<strong>Зарубежные стажировки</strong>
						<div>Для поступления на&nbsp;программы факультета необходимо предоставить результаты ЕГЭ по&nbsp;предметам: история, русский язык, иностранный язык (любой), математика, обществознание.</div>
						<a href="javascript:void(0)" class="btn btn_small">Найти свою</a>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="swiper-characters__decor">
						<div class="character character_type-3">
							<svg>
								<use xlink:href="#character-3"></use>
							</svg>
							<div class="frame frame_accent-salatovyy frame_shape-2">Три языка за&nbsp;четыре года!</div>
						</div>
					</div>
					<div class="swiper-characters__content">
						<strong>Изучение языков для профессиональной коммуникации</strong>
						<div>Студенты не&nbsp;только учат языки, но&nbsp;и&nbsp;учатся с&nbsp;ними работать, вести деловую коммуникацию и&nbsp;свободно выражать свои мысли в&nbsp;деловом сообществе</div>
						<a href="javascript:void(0)" class="btn btn_small">Найти свою</a>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>