.swiper-info {
	.swiper-slide {
		display: flex;
		justify-content: flex-end;
	}

	// .swiper-info__content
	&__content {
		color: $white;
		padding: 19px 30px 19px 18px;
		box-sizing: border-box;
		// padding: 20px 28px 30px;
		width: 270px;
		min-height: 253px;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 12px;
		background: linear-gradient(-90deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);

		strong {
			font-size: rem(20);
			font-weight: 400;
			line-height: 120%;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;

			@include resp-from(md) {
				font-size: rem(22);
			}
		}

		div {
			font-size: rem(16);
			line-height: 130%;
			font-weight: 300;
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			overflow: hidden;

			@include resp-from(xm) {
				font-size: rem(14);
				-webkit-line-clamp: 4;
			}
		}

		.btn {
			margin-top: auto;
			width: fit-content;
		}
	}

	img,
	picture {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		object-fit: cover;
	}
}
