<div class="modal" data-id="subscribe">
	<button class="btn btn_close btn_close-modal js-modal-close" aria-label="Закрыть"></button>

	<div class="modal__head">
		Подписаться на&nbsp;рассылку
	</div>
	<div class="modal__body">
		<div class="modal__form">
			<form action="#" class="form row" method="post" novalidate>
					<div class="form__fieldset _column">
						<div class="form-item">
							<input type="text" name="email" value="" class="input input_fill" data-required aria-label="e-mail" placeholder="Ваш e-mail *">
						</div>
					</div>
					<div class="form__fieldset">
						<div class="form-item justify-center-to-md align-end">
							<button type="submit" class="btn">Отправить</button>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>