.tab-steps {
	display: flex;
	position: relative;
	min-height: 568px;
	font-size: rem(22);
	line-height: 1.1;
	margin-left: calc(var(--grid-padding) * -1);
	margin-right: calc(var(--grid-padding) * -1);

	@include resp-from(xl) {
		margin-left: 0;
		margin-right: 0;
	}

	@include when-inside(".accordion") {
		margin-left: 0;
		margin-right: 0;
	}

	// .tab-steps__item
	&__item {
		cursor: pointer;
		width: 74%;
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 52px 22px 40px var(--grid-padding);
		clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 0 100%);
		position: relative;
		margin-left: -66%;
		transition: margin $transition-default;

		@include resp-from(xm) {
			width: 66%;
			margin-left: -55%;
		}

		@include resp-from(md) {
			width: 420px;
			margin-left: -304px;
		}

		@include resp-from(lg) {
			width: 410px;
			margin-left: -310px;
		}

		@include resp-from(xl) {
			width: 425px;
			padding-left: 27px;
		}

		@include on-hover {
			margin-top: -10px;
		}

		@include when-inside(".tab-steps_n3") {
			width: 77%;

			@include resp-from(xm) {
				width: 70%;
			}

			@include resp-from(md) {
				width: 420px;
			}

			@include resp-from(lg) {
				width: 410px;
			}

			@include resp-from(xl) {
				width: 425px;
			}
		}

		& > * {
			opacity: 0;
			transition: opacity $transition-default;
		}

		&::before,
		&::after {
			content: attr(data-step);
			display: block;
			position: absolute;
			bottom: 40px;
			color: $brand-color-primary;
			font-family: $family-firs;
			font-size: rem(112);
			font-weight: 600;
			line-height: 0.6;
		}

		&::before {
			left: var(--grid-padding);

			@include resp-from(xl) {
				left: 27px;
			}
		}

		&::after {
			right: 22px;
		}

		&.is-active {
			z-index: 5 !important;

			&::before {
				display: none;
			}

			& > * {
				opacity: 1;
			}
		}

		&:first-child {
			margin-left: 0 !important;
		}

		&:nth-child(1) {
			z-index: 5;
		}

		&:nth-child(2) {
			z-index: 4;
		}

		&:nth-child(3) {
			z-index: 3;
		}

		&:nth-child(4) {
			z-index: 2;
		}

		.btn {
			margin-top: auto;
			width: fit-content;
			transition: all $transition-default, opacity 0s ease;
		}
	}

	// .tab-steps__header
	&__header {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	// .tab-steps__body
	&__body {
		display: -webkit-box;
		-webkit-line-clamp: 8;
		-webkit-box-orient: vertical;
		overflow: hidden;
		font-size: rem(20);

		@include resp-from(xl) {
			font-size: rem(22);
		}
	}

	// .tab-steps__bg
	&__bg {
		position: absolute;
		right: 0;
		width: 45%;
		height: 100%;
		display: none;

		@include resp-from(lg) {
			display: block;
		}

		img,
		picture {
			height: 100%;
			object-fit: cover;
		}
	}
}
