<div class="h3">3&nbsp;шага к&nbsp;китайскому языку</div>
<div class="tab-steps tab-steps_n3">
	<div class="tab-steps__item bg-white js-tab is-active" data-step="1">
		<div class="tab-steps__header h1">Учи язык с&nbsp;любого уровня</div>
		<div class="tab-steps__body">Изучай язык под руководством опытных российских преподавателей и&nbsp;носителей языка. Для тех, кто уже начал изучение китайского языка в&nbsp;школе, возможность обучения в&nbsp;&laquo;продолжающей&raquo; группе!</div>
		<a href="javascript:void(0)" class="btn btn_small">Узнать больше</a>
	</div>
	<div class="tab-steps__item bg-light-blue js-tab" data-step="2">
		<div class="tab-steps__header h1">Lorem, ipsum dolor</div>
		<div class="tab-steps__body">Факультет проводит консультации по&nbsp;выбору карьеры в&nbsp;области международных отношений с&nbsp;лицензированным специалистом</div>
		<a href="javascript:void(0)" class="btn btn_small">Узнать больше</a>
	</div>
	<div class="tab-steps__item bg-red text-white js-tab" data-step="3">
		<div class="tab-steps__header h1">Quae sunt id placeat</div>
		<div class="tab-steps__body">Факультет проводит консультации по&nbsp;выбору карьеры в&nbsp;области международных отношений с&nbsp;лицензированным специалистом</div>
		<a href="javascript:void(0)" class="btn btn_small">Узнать больше</a>
	</div>

	<div class="tab-steps__bg">
		<img src="@img/3-steps.jpg" width="961" height="852" alt="" loading="lazy">
	</div>
</div>