<div class="timeline timeline_steps scrollblock hide-scroll scroll-x js-wheel-scroll-x js-draggable bg-full bg-light-gray">
	<div class="timeline__wrapper">
		<div class="timeline__list">
			<div class="t-item">
				<div class="t-item__step"><span>1</span> <span>шаг</span></div>
				<div class="t-item__header">Подать <br>документы</div>
				<div class="t-item__body">
					<ol>
						<li>Лично поступающим</li>
						<li>В&nbsp;<a href="javascript:void(0)">личном кабинете</a> на&nbsp;сайте Академии</li>
						<li>Сервис <a href="javascript:void(0)">&laquo;Поступи в&nbsp;ВУЗ-онлайн&raquo;</a></li>
					</ol>

				</div>
			</div>
			<div class="t-item">
				<div class="t-item__step"><span>2</span> <span>шаг</span></div>
				<div class="t-item__header">Проверить конкурсные <br>списки</div>
				<div class="t-item__body"></div>
			</div>
			<div class="t-item">
				<div class="t-item__step"><span>3</span> <span>шаг</span></div>
				<div class="t-item__header">Принести <br>оригиналы документов</div>
				<div class="t-item__body">По&nbsp;адресу <a href="javascript:void(0)">приёмной комиссии РАНХИГС</a></div>
			</div>
			<div class="t-item">
				<div class="t-item__step"><span>4</span> <span>шаг</span></div>
				<div class="t-item__header">Начать свой путь в&nbsp;международном бизнесе</div>
				<div class="t-item__body"></div>
			</div>
		</div>
	</div>
</div>