<div class="content bg-full bg-light-gray">
	<div class="block-text row">
		<div class="offset-left">
			<div class="h3">4 шага к успеху</div>
			<div class="tab-steps">
				<div class="tab-steps__item bg-white js-tab is-active" data-step="1">
					<div class="tab-steps__header h1">Карьерная консультация абитуриентов</div>
					<div class="tab-steps__body">Факультет проводит консультации по&nbsp;выбору карьеры в&nbsp;области международных отношений с&nbsp;лицензированным специалистом</div>
					<a href="javascript:void(0)" class="btn btn_small">Узнать больше</a>
				</div>
				<div class="tab-steps__item bg-light-blue js-tab" data-step="2">
					<div class="tab-steps__header h1">Lorem, ipsum dolor</div>
					<div class="tab-steps__body">Факультет проводит консультации по&nbsp;выбору карьеры в&nbsp;области международных отношений с&nbsp;лицензированным специалистом</div>
					<a href="javascript:void(0)" class="btn btn_small">Узнать больше</a>
				</div>
				<div class="tab-steps__item bg-red text-white js-tab" data-step="3">
					<div class="tab-steps__header h1">Quae sunt id placeat</div>
					<div class="tab-steps__body">Факультет проводит консультации по&nbsp;выбору карьеры в&nbsp;области международных отношений с&nbsp;лицензированным специалистом</div>
					<a href="javascript:void(0)" class="btn btn_small">Узнать больше</a>
				</div>
				<div class="tab-steps__item bg-electric text-white js-tab" data-step="4">
					<div class="tab-steps__header h1">Mollitia impedit odio</div>
					<div class="tab-steps__body">Факультет проводит консультации по&nbsp;выбору карьеры в&nbsp;области международных отношений с&nbsp;лицензированным специалистом</div>
					<a href="javascript:void(0)" class="btn btn_small">Узнать больше</a>
				</div>
				<div class="tab-steps__bg">
					<img src="@img/4-steps.jpg" width="961" height="852" alt="" loading="lazy">
				</div>
			</div>
		</div>
	</div>
</div>