<div class="content">
	<div class="block-text row">
		<div class="offset-left h3">О факультете</div>
		<div class="offset-left col-md-6">
			<div class="block-text__head">На&nbsp;факультете международных отношений можно получить разностороннее образование в&nbsp;сфере международного бизнеса.</div>
		</div>
		<div class="col-md-6">
			<div class="block-text__body">
				Мы&nbsp;предлагаем программы обучения от&nbsp;балакавриата до&nbsp;программ переподготовки топ-менеджеров. Наши выпускники занимают руководящие позиции в&nbsp;ведущих российских и&nbsp;международных компаниях и&nbsp;институтов власти.
			</div>
			<div class="block-text__buttons">
				<a href="about.html" class="btn">Подробнее о факультете</a>
			</div>
		</div>
	</div>
</div>