<div class="content">
	<div class="block-text row">
		<div class="col-md-6">
			<div class="block-text__decor">
				<div class="character character_type-1">
					<svg>
						<use xlink:href="#character-1"></use>
					</svg>
					<div class="frame frame_accent-fioletovyy frame_shape-3">ФМО: Философия
						Мирового Общения</div>
				</div>
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-12-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-12-768.jpg">
						<source srcset="@img/block-text-decor-12-320.jpg">
						<img src="@img/block-text-decor-12-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="h1">Стать <br>парнёром</div>
			<div class="h3">Гранты на&nbsp;обучение</div>
			<div class="block-text__body">Мы&nbsp;предоставляем гибкую систему индивидуальных грантов, скидок и&nbsp;льгот для абитурентов и&nbsp;студентов.</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Стать парнёром в один клик</a>
			</div>
		</div>
	</div>
</div>