<div class="content bg-full bg-light-gray">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="character character_type-2">
					<svg>
						<use xlink:href="#character-2"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Фьюжен Мнений и Опыта</div>
				</div>
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-1-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-1-768.jpg">
						<source srcset="@img/block-text-decor-1-320.jpg">
						<img src="@img/block-text-decor-1-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Осознанный выбор&nbsp;будущего</div>
			<div class="h3">Многопрофильное обучение</div>
			<div class="block-text__body">В&nbsp;течение 4&nbsp;семестров студент знакомится с&nbsp;основными направлениями международной деятельности, чтобы впоследствии выбрать профессию, идеально подходящую под его желания, способности и&nbsp;требования рынка.</div>
			<div class="block-text__buttons">
				<button class="btn js-modal-show" data-target="consult">Получить консультацию</button>
			</div>
		</div>
	</div>
</div>
@@include('../modals/modal-consult.html', {})