<div class="content bg-full bg-light-gray">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-9-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-9-768.jpg">
						<source srcset="@img/block-text-decor-9-320.jpg">
						<img src="@img/block-text-decor-9-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="h3">Зарубежные партнёрские вузы</div>
			<div class="h1">Языковые <br>стажировки</div>
			<div class="block-text__body">Мы&nbsp;организуем партнёрские программы и&nbsp;стажировки со&nbsp;многими университетами и&nbsp;работодателями Азии и&nbsp;Африки.
				<ul>
					<li><a href="javascript:void(0)">Индия</a></li>
					<li><a href="javascript:void(0)">Пакистан</a></li>
					<li><a href="javascript:void(0)">Объединенные Арабские Эмираты</a></li>
					<li><a href="javascript:void(0)">Марокко</a></li>
					<li><a href="javascript:void(0)">Китай</a></li>
				</ul>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Посмотреть все программы</a>
			</div>
		</div>
	</div>
</div>