<div class="content">
	<div class="block-text row">
		<div class="offset-left col-lg-7">
			<div class="h2">Как до нас доехать</div>
			<div class="accordion mb40">
				<div class="accordion__item js-accordion on">
					<div class="accordion__header js-accordion__trigger">
						<div>
							<span>Общественным транспортом</span>
						</div>
					</div>
					<div class="accordion__content">
						<p>По&nbsp;проспекту Вернадского из&nbsp;центра в&nbsp;сторону станции метро &laquo;Юго-Западная&raquo;. Не&nbsp;доезжая до&nbsp;станции метро &laquo;Юго-Западная&raquo;, поворот на&nbsp;светофоре направо на&nbsp;ул. Коштоянца, далее&nbsp;&mdash; до&nbsp;необходимой Вам проходной РАНХиГС. На&nbsp;территории Академии вы&nbsp;можете воспользоваться платной охраняемой парковкой.</p>
					</div>
				</div>

				<div class="accordion__item js-accordion on">
					<div class="accordion__header js-accordion__trigger">
						<div>
							<span>На машине</span>
						</div>
					</div>
					<div class="accordion__content">
						<p>По&nbsp;проспекту Вернадского из&nbsp;центра в&nbsp;сторону станции метро &laquo;Юго-Западная&raquo;. Не&nbsp;доезжая до&nbsp;станции метро &laquo;Юго-Западная&raquo;, поворот на&nbsp;светофоре направо на&nbsp;ул. Коштоянца, далее&nbsp;&mdash; до&nbsp;необходимой Вам проходной РАНХиГС. На&nbsp;территории Академии вы&nbsp;можете воспользоваться платной охраняемой парковкой.</p>
					</div>
				</div>
			</div>

			<br><br>
			<div class="h2">Схема корпусов</div>
			<img src="@img/scheme.png" width="700" height="508" alt="" loading="lazy">

		</div>
		<div class="col-lg-5">
			<div class="h2">Пропускная система</div>
			<div class="inner-text">
				<ul>
					<li>Вход на&nbsp;территорию возможен только по&nbsp;пропускам (с&nbsp;паспортом). Заказать пропуск&nbsp;Вы можете, связавшись заранее с&nbsp;представителем Факультета по&nbsp;телефону&nbsp;+7&nbsp;(499)&nbsp;455-31-83.</li>
					<li>Во&nbsp;время проведения общеакадемических Дней открытых дверей (одновременно во&nbsp;всех институтах Академии) проходит предварительная обязательная регистрация на&nbsp;странице мероприятия.</li>
					<li>Во&nbsp;время проведения Дней открытых дверей Факультета международных отношений ИБДА РАНХиГС пропуск посетителей будет происходить по&nbsp;спискам, составленным на&nbsp;основе предварительной регистрации на&nbsp;мероприятие. Обязательно возьмите с&nbsp;собой паспорт!</li>
				</ul>
			</div>
		</div>
	</div>
</div>