<div class="content bg-full bg-light-gray">
	<div class="row">
		<div class="offset-left">
			<div class="contacts">
				<div class="h3">@@title</div>
				<div class="contacts__wrapper">
					<div class="contacts__item">
						<div class="contacts__header">Деканат</div>
						<div class="contacts__body">
							приём по&nbsp;вопросам обучения социализации и&nbsp;перевода <br><br>
							<a href="tel:+74999569156">+ 7 (499) 956-91-56</a>
							<a href="mailto:info@decanat.mail.ru">info@decanat.mail.ru</a>
						</div>
						<div class="contacts__social">
							<a href="javascript:void(0)" class="social-link">
								<svg>
									<use xlink:href="#social-vk"></use>
								</svg>
							</a>
							<a href="javascript:void(0)" class="social-link">
								<svg>
									<use xlink:href="#social-tg"></use>
								</svg>
							</a>
							<a href="javascript:void(0)" class="social-link">
								<svg>
									<use xlink:href="#social-ws"></use>
								</svg>
							</a>
						</div>
					</div>
		
					<div class="contacts__item">
						<div class="contacts__header">Пресс-служба</div>
						<div class="contacts__body">
							приём по&nbsp;вопросам обучения социализации и&nbsp;перевода <br><br>
							<a href="tel:+74999569157">+ 7 (499) 956-91-57</a>
							<a href="tel:+74999569158">+ 7 (499) 956-91-58</a>
						</div>
						<div class="contacts__social">
							<a href="javascript:void(0)" class="social-link">
								<svg>
									<use xlink:href="#social-vk"></use>
								</svg>
							</a>
							<a href="javascript:void(0)" class="social-link">
								<svg>
									<use xlink:href="#social-tg"></use>
								</svg>
							</a>
							<a href="javascript:void(0)" class="social-link">
								<svg>
									<use xlink:href="#social-ws"></use>
								</svg>
							</a>
						</div>
					</div>
		
					<div class="contacts__item">
						<div class="contacts__header">Секретарь</div>
						<div class="contacts__body">
							приём по&nbsp;вопросам обучения социализации и&nbsp;перевода <br><br>
							<a href="tel:+74999569156">+ 7 (499) 956-91-00</a>
							<a href="mailto:info@decanat.mail.ru">info-1@decanat.mail.ru</a>
							<a href="mailto:info@decanat.mail.ru">info-2@decanat.mail.ru</a>
						</div>
						<div class="contacts__social">
							<a href="javascript:void(0)" class="social-link">
								<svg>
									<use xlink:href="#social-vk"></use>
								</svg>
							</a>
							<a href="javascript:void(0)" class="social-link">
								<svg>
									<use xlink:href="#social-tg"></use>
								</svg>
							</a>
							<a href="javascript:void(0)" class="social-link">
								<svg>
									<use xlink:href="#social-ws"></use>
								</svg>
							</a>
						</div>
					</div>
		
					<div class="contacts__item">
						<div class="contacts__header">Столовая</div>
						<div class="contacts__body">
							по&nbsp;вопросам приёма пищи<br><br>
							<a href="tel:+74999569199">+ 7 (499) 956-91-99</a>
							<a href="mailto:canteen@decanat.mail.ru">canteen@decanat.mail.ru</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>