<div class="content bg-full bg-light-gray">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="character character_type-2">
					<svg>
						<use xlink:href="#character-2"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Фьюжен Мнений и Опыта</div>
				</div>
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-11-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-11-768.jpg">
						<source srcset="@img/block-text-decor-11-320.jpg">
						<img src="@img/block-text-decor-11-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="col-md-6 offset-left">
			<div class="h3">Форматы сотрудничества</div>
			<div class="block-text__body">Мы&nbsp;предлагаем программы обучения от&nbsp;балакавриата до&nbsp;программ переподготовки топ-менеджеров Наши выпускники занимают руководящие позиции в&nbsp;ведущих российских и&nbsp;международных компаниях и&nbsp;институтов власти.
				<ul>
					<li><a href="javascript:void(0)">По программам</a></li>
					<li><a href="javascript:void(0)">По курсам</a></li>
					<li><a href="javascript:void(0)">Видео лекций</a></li>
				</ul>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Подробнее</a>
			</div>
		</div>
	</div>
</div>