<div class="content">
	<div class="block-text row">
		<div class="col-md-6">
			<div class="block-text__decor">
				<div class="character character_left character_type-1">
					<svg>
						<use xlink:href="#character-1"></use>
					</svg>
					<div class="frame frame_accent-fioletovyy frame_shape-3">ФМО: Философия Мирового Общения</div>
				</div>
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-2-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-2-768.jpg">
						<source srcset="@img/block-text-decor-2-320.jpg">
						<img src="@img/block-text-decor-2-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="h1">Гранты и&nbsp;скидки</div>
			<div class="h3">Гранты на&nbsp;обучение</div>
			<div class="block-text__body">
				<div class="row">
					<div class="col-3 text-lg">-20%</div>
					<div class="col-9">
						За&nbsp;достижения в&nbsp;учёбе в&nbsp;школе (например, золотая медаль, сертификаты, победы на&nbsp;региональных этапах олимпиад) студент может получить грант до&nbsp;20% на&nbsp;первый год обучения.
					</div>
				</div>
			</div>
			<div class="h3">Советы студентам</div>
			<div class="block-text__body">
				Участвуйте в&nbsp;олимпиадах и&nbsp;конкурсах. Интеллектуальные соревнования по&nbsp;международным отношениям, иностранным языкам и&nbsp;другим предметам помогут вам продемонстрировать свои знания и&nbsp;навыки, а&nbsp;также получить дополнительные баллы при поступлении.
			</div>
			<div class="block-text__buttons">
				<button class="btn js-modal-show" data-target="grant">Оставить заявку на&nbsp;грант</button>
				<a href="javascript:void(0)" class="btn">Узнать об&nbsp;олимпиадах на&nbsp;сайте РАНХиГС</a>
			</div>
		</div>
	</div>
</div>
@@include('../modals/modal-grant.html', {})