<div class="block-text">
	<div class="h2">Ключевые дисциплины</div>
	<div class="achievements grid grid_md-2 grid_xl-3">
		<div class="achievement">
			<div class="achievement__title">18 <span>час.&nbsp;нед.</span>
			</div>
			<div class="achievement__body">
				<b>Иностранные языки</b>
				<ul>
					<li>Бизнес-английский</li>
					<li>Подготовка к&nbsp;IELTS</li>
					<li>Испанский/ немецкий/ французский/ итальянский</li>
				</ul>
			</div>
		</div>
		<div class="achievement">
			<div class="achievement__title">18 <span>курсов</span></div>
			<div class="achievement__body">
				<b>Политика, право, международные отношения</b>
				<ul>
					<li>Международное право</li>
					<li>Основы международной безопасности</li>
					<li>Международные конфликты в&nbsp;XXI веке</li>
					<li>и&nbsp;др.</li>
				</ul>
			</div>
		</div>
		<div class="achievement">
			<div class="achievement__title">26 <span>курсов</span></div>
			<div class="achievement__body">
				<b>Экономика и&nbsp;бизнес</b>
				<ul>
					<li>Финансовый менеджмент</li>
					<li>Страновые риски</li>
					<li>Консалтинг, Маркетинг, PR</li>
					<li>и&nbsp;др.</li>
				</ul>
			</div>
		</div>
	</div>
</div>