<div class="content">
	<div class="block-text row">
		<div class="offset-left">
			<div class="achievements grid grid_md-2 grid_xl-4">
				<div class="achievement">
					<div class="achievement__title">22</div>
					<div class="achievement__body">
						<b>Вида спорта</b>
						<ul>
							<li>Хоккей</li>
							<li>Футбол</li>
							<li>Плаванье</li>
							<li>Каратэ</li>
							<li>Волейбол</li>
							<li>Йога</li>
							<li>и др.</li>
						</ul>
					</div>
				</div>
				<div class="achievement">
					<div class="achievement__title">90</div>
					<div class="achievement__body">
						<b>Спортивно-массовых мероприятий за&nbsp;5&nbsp;лет</b>
					</div>
				</div>
				<div class="achievement">
					<div class="achievement__title">73</div>
					<div class="achievement__body">
						<b>Мастеров спорта и&nbsp;КМС</b>
					</div>
				</div>
				<div class="achievement">
					<div class="achievement__title">40</div>
					<div class="achievement__body">
						<b>Трофеев за&nbsp;5&nbsp;лет</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>