<div class="content">
	<div class="block-text row">
		<div class="offset-left">
			<div class="grid grid_md-2 gap-40">

				<div class="grid-decor">
					<div class="grid-decor__decor">
						<div class="character character_small character_left character_type-1">
							<svg>
								<use xlink:href="#character-1"></use>
							</svg>
							<div class="frame frame_accent-fioletovyy frame_shape-4">К&nbsp;тебе будут обращаться лучшие из&nbsp;лучших</div>
						</div>
					</div>
					<div class="grid-decor__body">
						<h3>Гарвардская модель ООН</h3>
						<p>Модель ООН&nbsp;&mdash; это конференции, которые имитируют работу ООН, объединяя студентов из&nbsp;разных университетов. Делегация ИБДА более 10&nbsp;лет является единственным представителем России на&nbsp;крупнейшей модели&nbsp;&mdash; Гарвардской модели ООН.</p>
					</div>
				</div>

				<div class="grid-decor">
					<div class="grid-decor__decor">
						<div class="character character_small character_left character_type-3">
							<svg>
								<use xlink:href="#character-3"></use>
							</svg>
							<div class="frame frame_accent-red frame_shape-4">К&nbsp;тебе будут обращаться лучшие из&nbsp;лучших</div>
						</div>
					</div>
					<div class="grid-decor__body">
						<h3>Кейс-школа и кейс-клуб</h3>
						<p>С&nbsp;помощью партнеров ИБДА, победителей прошлых лет, преподавателей и&nbsp;звездных студентов, Кейс-школа помогает подготовиться к&nbsp;участию в&nbsp;кейс-чемпионатах от&nbsp;ведущих организаторов кейс-турниров страны (Changellenge, Unilever, BCG, P&amp;G, L&rsquo;Oreal, KPMG).</p>
					</div>
				</div>

				<div class="grid-decor">
					<div class="grid-decor__decor">
						<div class="character character_small character_left character_type-5">
							<svg>
								<use xlink:href="#character-5"></use>
							</svg>
							<div class="frame frame_accent-siniy frame_shape-4">К&nbsp;тебе будут обращаться лучшие из&nbsp;лучших</div>
						</div>
					</div>
					<div class="grid-decor__body">
						<h3>Научный клуб</h3>
						<p>Наши студенты знают, что погрузиться в&nbsp;актуальные проблемы политики и&nbsp;экономики можно не&nbsp;только на&nbsp;парах, но&nbsp;и&nbsp;на&nbsp;научных конференциях, где каждый может выступить не&nbsp;только в&nbsp;роли эксперта, подготовив статью на&nbsp;определённую тему, но&nbsp;и&nbsp;обменяться опытом со&nbsp;своими коллегами.</p>
					</div>
				</div>

				<div class="grid-decor">
					<div class="grid-decor__decor">
						<div class="character character_small character_left character_type-4">
							<svg>
								<use xlink:href="#character-4"></use>
							</svg>
							<div class="frame frame_accent-salatovyy frame_shape-4">К&nbsp;тебе будут обращаться лучшие из&nbsp;лучших</div>
						</div>
					</div>
					<div class="grid-decor__body">
						<h3>Медиа-клуб</h3>
						<p>Клуб для тех кто интересуется&nbsp;PR, журналистикой, маркетингом и&nbsp;копирайтингом. Участники учатся брать интервью, писать профессиональный контент для социальных сетей, вести и&nbsp;оценивать качество медиа.</p>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>