<div class="content bg-full bg-light-gray">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-5-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-5-768.jpg">
						<source srcset="@img/block-text-decor-5-320.jpg">
						<img src="@img/block-text-decor-5-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Присоединись к&nbsp;факультету!</div>
			<div class="h3">Как поступить</div>
			<div class="block-text__body">
				<p>Для поступления на&nbsp;программы факультета необходимо предоставить результаты ЕГЭ по&nbsp;предметам: история, русский язык, иностранный язык (любой), математика, обществознание.</p>
				<p>Абитуриент может получить до&nbsp;10&nbsp;конкурсных баллов за&nbsp;индивидуальные достижения.</p>
				<p>Также возможно получение персонального гранта на&nbsp;обучение на&nbsp;факультете.</p>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Полная информация о&nbsp;поступлении</a>
			</div>
		</div>
	</div>
</div>