<div class="content">
	<div class="block-text row">
		<div class="offset-left">
			<div class="h3">
				Инфраструктура института
			</div>
		</div>
		<picture>
			<source media="(min-width: 1280px)" srcset="@img/infrastructure-map-1280.png">
			<source media="(min-width: 768px)" srcset="@img/infrastructure-map-768.png">
			<source srcset="@img/infrastructure-map-320.png">
			<img src="@img/infrastructure-map-1280.png" width="1332" height="905" alt="Инфраструктура института" loading="lazy">
		</picture>
		<div class="justify-center">
			<a href="javascript:void(0)" class="btn">Скачать карту (pdf)</a>
		</div>
	</div>
</div>