<div class="content">
	<div class="block-text row">
		<div class="offset-left col-md-6">
			<div class="h1">Присоединяйся к&nbsp;сообществу!</div>
			<div class="h3">Студенческая жизнь</div>
		</div>
		<div class="col-md-6">
			<div class="block-text__sub">
				<i>Фантастическое</i> сообщество ФМО&nbsp;&mdash; это <em>место</em> для обмена знаниями и&nbsp;культурой и&nbsp;площадка для удивительных <em>открытий</em> и&nbsp;новых дружеских связей.
			</div>
		</div>
		<div class="offset-left flex-center-to-md">
			<a href="javascript:void(0)" class="btn">Узнать подробнее</a>
		</div>
	</div>
</div>