<div class="content bg-full bg-light-gray">
	<div class="row">
		<div class="offset-left">
			<div class="achievements grid grid_md-2 grid_hd-3 gap-30">
				<div class="achievement">
					<div class="achievement__shape">№1</span>
					</div>
					<div class="achievement__body">
						<b>Первые в&nbsp;России с&nbsp;международной Аккредитацией AACSB</b>
						<p>Аккредитация AACSB International&nbsp;&mdash; ведущая среди &laquo;ассоциаций тройной короны&raquo;&nbsp;&mdash; является высшим мировым эталоном качества для бизнес-школ.</p>
					</div>
				</div>
				<div class="achievement">
					<div class="achievement__shape">№1</div>
					<div class="achievement__body">
						<b>В&nbsp;народном рейтинге бизнес-школ с&nbsp;2012&nbsp;г.</b>
						<p>12&nbsp;лет подряд ИБДА&nbsp;&mdash; лидер народного рейтинга бизнес-школ России! Институт Бизнес и&nbsp;Делового Администрирования РАНХиГС занимает первые позиции по&nbsp;показателям &laquo;Увеличение дохода&raquo; и&nbsp;&laquo;Профессиональное развитие&raquo;. Рейтинг программ MBA подготовлен порталом &laquo;MBA в&nbsp;Москве и&nbsp;России&raquo; вместе с&nbsp;Job.ru. короны&quot;&nbsp;&mdash; является высшим мировым эталоном качества для бизнес-школ.</p>
					</div>
				</div>
				<div class="achievement">
					<div class="achievement__shape">№1</div>
					<div class="achievement__body">
						<b>В&nbsp;России по&nbsp;темпу роста доходов выпускников</b>
						<p>Доходы выпускников ИБДА выросли в&nbsp;среднем на&nbsp;78% после окончания обучения. Результаты исследования опубликованы на&nbsp;сайтах: rbc.ru, kommersant.ru, izvestia.ru, mba.su, secretmag.ru.</p>
					</div>
				</div>
				<div class="achievement">
					<div class="achievement__shape"><span>ТОП</span></div>
					<div class="achievement__body">
						<b>TOP Business School по&nbsp;рейтингу Eduniversal</b>
						<p>Согласно рейтингу Eduniversal TOP Business School с&nbsp;2015 года ИБДА РАНХиГС имеет 4&nbsp;пальмовые ветви и&nbsp;входит в&nbsp;элитную лигу &laquo;TOP Business School&raquo;. Программы магистратуры, МВА и&nbsp;Executive МВА ИБДА входят топ-10 лучших программ Восточной Европы.</p>
					</div>
				</div>
				<div class="achievement">
					<div class="achievement__shape">№1</div>
					<div class="achievement__body">
						<b>В&nbsp;России чемпион PRME при ООН</b>
						<p>Чемпионы PRME&nbsp;&mdash; это ассоциация университетов, созданная по&nbsp;инициативе ООН для продвижения принципов социальной ответственности и&nbsp;устойчивого развития. ИБДА&mdash; первая российская бизнес-школа, которая поддержала инициативу PRME в&nbsp;2008&nbsp;г.&nbsp;и&nbsp;до&nbsp;2012&nbsp;г. оставалась единственным активным участником из&nbsp;России.</p>
					</div>
				</div>
				<div class="achievement">
					<div class="achievement__shape">191</div>
					<div class="achievement__body">
						<b>Выпускник ИБДА входят в&nbsp;&laquo;ТОП-1000&nbsp;менеджеров&raquo;</b>
						<p>В&nbsp;рейтинг &laquo;ТОП-1000 российских менеджеров&raquo;, составленным Российской ассоциацией менеджеров, входят 181&nbsp;выпускник, слушатель и&nbsp;преподаватель ИБДА. В&nbsp;основе рейтинга лежит принцип &laquo;лучшие выбирают лучших&raquo;, позволяющий получить максимально объективную оценку профессиональной репутации менеджера.</p>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>