<div class="content bg-full bg-light-gray">
	<div class="block-text row">
		<div class="offset-left">
			<div class="h3">Программы факультета</div>
			<div class="accordion accordion_content-offset col-lg-11 col-xl-9">
				<div class="accordion__item js-accordion on">
					<div class="accordion__header js-accordion__trigger">
						<div>
							<div>41.03.05</div>
							<span>Международные отношения</span>
						</div>
					</div>
					<div class="accordion__content">
						<div>41.03.05</div>
						<p>Подготовка профессионалов мультифункционального назначения, способных работать в&nbsp;сфере международной политики, экономики, бизнеса, спорта, культуры, публичной и&nbsp;народной дипломатии, эффективно взаимодействовать с&nbsp;партнерами из&nbsp;стран Запада и&nbsp;Востока, способных профессионально и&nbsp;квалифицированно защищать и&nbsp;продвигать национальные интересы России и&nbsp;добиваться успеха в&nbsp;условиях быстро меняющейся глобальной среды.</p>
						<div class="accordion__button">
							<a href="javascript:void(0)" class="btn btn_small">Подробнее</a>
						</div>
					</div>
				</div>

				<div class="accordion__item js-accordion on">
					<div class="accordion__header js-accordion__trigger">
						<div>
							<div>38.03.02</div>
							<span>Менеджмент</span>
						</div>
					</div>
					<div class="accordion__content">
						<div>38.03.02</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, sequi voluptatibus dignissimos non exercitationem sunt neque rerum veritatis laudantium perspiciatis iusto hic ducimus qui magni doloremque quod accusamus itaque minima.</p>
						<p>Vitae harum fuga, quam fugiat doloribus voluptatem praesentium quidem dolorem velit repudiandae nesciunt unde dicta, quisquam tempore corporis et, minus optio quibusdam. Ullam nihil quae quaerat maiores eligendi sit ad provident. Maiores, temporibus alias soluta qui quas quisquam obcaecati? Recusandae eum vitae dolore magni quas. Illo veritatis deleniti quia dolorum repellendus sunt laudantium explicabo eveniet vero provident? Laudantium?</p>
						<div class="accordion__button">
							<a href="javascript:void(0)" class="btn btn_small">Подробнее</a>
						</div>
					</div>
				</div>

				<div class="accordion__item js-accordion on">
					<div class="accordion__header js-accordion__trigger">
						<div>
							<div>38.03.02</div>
							<span>Медиакоммуникации</span>
						</div>
					</div>
					<div class="accordion__content">
						<div>38.03.02</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur unde, dolore dignissimos pariatur tempore soluta eum distinctio, suscipit nesciunt recusandae ad quo maiores laudantium fugit expedita! Cum, vitae distinctio.</p>
						<p>Delectus, doloremque provident culpa voluptates laudantium expedita nemo eius ab sequi, fuga neque fugit quam velit reiciendis sint voluptas est ipsa nisi. Rem delectus, mollitia sit alias perspiciatis voluptatem veritatis!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur unde, dolore dignissimos pariatur tempore soluta eum distinctio, suscipit nesciunt recusandae ad quo maiores laudantium fugit expedita! Cum, vitae distinctio.</p>
						<p>Delectus, doloremque provident culpa voluptates laudantium expedita nemo eius ab sequi, fuga neque fugit quam velit reiciendis sint voluptas est ipsa nisi. Rem delectus, mollitia sit alias perspiciatis voluptatem veritatis!</p>
						<div class="accordion__button">
							<a href="javascript:void(0)" class="btn btn_small">Подробнее</a>
						</div>
					</div>
				</div>

				<div class="accordion__item js-accordion on">
					<div class="accordion__header js-accordion__trigger">
						<div>
							<div>41.03.01</div>
							<span>Зарубежное регионоведение</span>
						</div>
					</div>
					<div class="accordion__content">
						<div>41.03.01</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur unde, dolore dignissimos pariatur tempore soluta eum distinctio, suscipit nesciunt recusandae ad quo maiores laudantium fugit expedita! Cum, vitae distinctio.</p>
						<p>Delectus, doloremque provident culpa voluptates laudantium expedita nemo eius ab sequi, fuga neque fugit quam velit reiciendis sint voluptas est ipsa nisi. Rem delectus, mollitia sit alias perspiciatis voluptatem veritatis!</p>
						<div class="accordion__button">
							<a href="javascript:void(0)" class="btn btn_small">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>