<div class="content bg-full bg-light-gray">
	<div class="block-text row">
		<div class="offset-left col-md-6">
			<div class="block-text">
				<div class="h1">Истории успеха</div>
				<div class="block-text__body">Мы&nbsp;всегда радуемся, когда узнаём о&nbsp;результатах своих выпускников. <br>Вот несколько историй успеха.</div>
				<div class="block-text__buttons">
					<button class="btn js-modal-show" data-target="success-story">Расскажи свою историю</button>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			@@include('../swipers/swiper-quotes.html')
		</div>
	</div>
</div>
@@include('../modals/modal-success-story.html', {})