<div class="content">
	<div class="row">
		<div class="offset-left">
			<div class="table-container scrollblock scroll-x">
				<table class="table">
					<thead>
						<tr>
							<th>Направление <br>обучения</th>
							<th>Набор <br>ЕГЭ</th>
							<th>Бюджетных<br>мест</th>
							<th>Проходные <br>баллы</th>
							<th>Стоимость <br>обучения (2024)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Международные <br>отношения <br><b>41.03.05</b></td>
							<td class="grid grid_table">
								<div>40-100</div>
								<div>История</div>
								<div>50-100</div>
								<div>Русский язык (по&nbsp;выбору)</div>
								<div>50-100</div>
								<div>Иностранный язык&nbsp;/ Обществознание&nbsp;/ География</div>
								<div>0-10</div>
								<div><b>Индивидуальные достижения</b></div>
							</td>
							<td>8</td>
							<td>277</td>
							<td>645&nbsp;000&nbsp;руб/год</td>
						</tr>

						<tr>
							<td>Международные <br>отношения <br><b>41.03.05</b></td>
							<td class="grid grid_table">
								<div>40-100</div>
								<div>История</div>
								<div>50-100</div>
								<div>Русский язык (по&nbsp;выбору)</div>
								<div>50-100</div>
								<div>Иностранный язык&nbsp;/ Обществознание&nbsp;/ География</div>
								<div>0-10</div>
								<div><b>Индивидуальные достижения</b></div>
							</td>
							<td>8</td>
							<td>277</td>
							<td>645&nbsp;000&nbsp;руб/год</td>
						</tr>

						<tr>
							<td>Международные <br>отношения <br><b>41.03.05</b></td>
							<td class="grid grid_table">
								<div>40-100</div>
								<div>История</div>
								<div>50-100</div>
								<div>Русский язык (по&nbsp;выбору)</div>
								<div>50-100</div>
								<div>Иностранный язык&nbsp;/ Обществознание&nbsp;/ География</div>
								<div>0-10</div>
								<div><b>Индивидуальные достижения</b></div>
							</td>
							<td>8</td>
							<td>277</td>
							<td>645&nbsp;000&nbsp;руб/год</td>
						</tr>

						<tr>
							<td>Международные <br>отношения <br><b>41.03.05</b></td>
							<td class="grid grid_table">
								<div>40-100</div>
								<div>История</div>
								<div>50-100</div>
								<div>Русский язык (по&nbsp;выбору)</div>
								<div>50-100</div>
								<div>Иностранный язык&nbsp;/ Обществознание&nbsp;/ География</div>
								<div>0-10</div>
								<div><b>Индивидуальные достижения</b></div>
							</td>
							<td>8</td>
							<td>277</td>
							<td>645&nbsp;000&nbsp;руб/год</td>
						</tr>

						<tr>
							<td>Международные <br>отношения <br><b>41.03.05</b></td>
							<td class="grid grid_table">
								<div>40-100</div>
								<div>История</div>
								<div>50-100</div>
								<div>Русский язык (по&nbsp;выбору)</div>
								<div>50-100</div>
								<div>Иностранный язык&nbsp;/ Обществознание&nbsp;/ География</div>
								<div>0-10</div>
								<div><b>Индивидуальные достижения</b></div>
							</td>
							<td>8</td>
							<td>277</td>
							<td>645&nbsp;000&nbsp;руб/год</td>
						</tr>

						<tr>
							<td>Международные <br>отношения <br><b>41.03.05</b></td>
							<td class="grid grid_table">
								<div>40-100</div>
								<div>История</div>
								<div>50-100</div>
								<div>Русский язык (по&nbsp;выбору)</div>
								<div>50-100</div>
								<div>Иностранный язык&nbsp;/ Обществознание&nbsp;/ География</div>
								<div>0-10</div>
								<div><b>Индивидуальные достижения</b></div>
							</td>
							<td>8</td>
							<td>277</td>
							<td>645&nbsp;000&nbsp;руб/год</td>
						</tr>

						<tr>
							<td>Международные <br>отношения <br><b>41.03.05</b></td>
							<td class="grid grid_table">
								<div>40-100</div>
								<div>История</div>
								<div>50-100</div>
								<div>Русский язык (по&nbsp;выбору)</div>
								<div>50-100</div>
								<div>Иностранный язык&nbsp;/ Обществознание&nbsp;/ География</div>
								<div>0-10</div>
								<div><b>Индивидуальные достижения</b></div>
							</td>
							<td>8</td>
							<td>277</td>
							<td>645&nbsp;000&nbsp;руб/год</td>
						</tr>


					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>