<div class="content">
	<div class="row">
		<div class="offset-left">
			<div class="persons grid grid_md-2">
				<div class="person">
					<div class="person__photo">
						<img src="@img/dev/teachers/person-1.jpg" width="320" height="320" alt="" loading="lazy">
					</div>
					<div class="person__body">
						<div class="person__name">Алексей Свищев</div>
						<div class="person__position">Декан ФМО ИБДА РАНХиГС, Директор академических программ ИБДА РАНХиГС, доцент, к.э.н.</div>
					</div>
				</div>
				<div class="person">
					<div class="person__photo">
						<img src="@img/dev/teachers/person-2.jpg" width="320" height="320" alt="" loading="lazy">
					</div>
					<div class="person__body">
						<div class="person__name">Андрей Дейнеко</div>
						<div class="person__position">Специалист отдела сопровождения учебного процесса &laquo;Центра повышения производительности&raquo; Всероссийской академии внешней торговли</div>
					</div>
				</div>
				<div class="person">
					<div class="person__photo">
						<img src="@img/dev/teachers/person-3.jpg" width="320" height="320" alt="" loading="lazy">
					</div>
					<div class="person__body">
						<div class="person__name">Елена Забурдаева</div>
						<div class="person__position">Доцент (МГИМО)</div>
					</div>
				</div>
				<div class="person">
					<div class="person__photo">
						<img src="@img/dev/teachers/person-4.jpg" width="320" height="320" alt="" loading="lazy">
					</div>
					<div class="person__body">
						<div class="person__name">Андрей Алексеев</div>
						<div class="person__position">Директор по&nbsp;маркетингу ООО &laquo;МТС медиа&raquo;</div>
					</div>
				</div>

				<div class="person">
					<div class="person__photo">
						<img src="@img/dev/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
					</div>
					<div class="person__body">
						<div class="person__name">Андрей Дейнеко</div>
						<div class="person__position">Специалист отдела сопровождения учебного процесса &laquo;Центра повышения производительности&raquo; Всероссийской академии внешней торговли</div>
					</div>
				</div>

				<div class="person">
					<div class="person__photo">
						<img src="@img/dev/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
					</div>
					<div class="person__body">
						<div class="person__name">Елена Забурдаева</div>
						<div class="person__position">Доцент (МГИМО)</div>
					</div>
				</div>
				
				<div class="person">
					<div class="person__photo">
						<img src="@img/dev/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
					</div>
					<div class="person__body">
						<div class="person__name">Андрей Алексеев</div>
						<div class="person__position">Директор по&nbsp;маркетингу ООО &laquo;МТС медиа&raquo;</div>
					</div>
				</div>

				<div class="person">
					<div class="person__photo">
						<img src="@img/dev/placeholder-man.png" width="320" height="320" alt="" loading="lazy">
					</div>
					<div class="person__body">
						<div class="person__name">Алексей Свищев</div>
						<div class="person__position">Декан ФМО ИБДА РАНХиГС, Директор академических программ ИБДА РАНХиГС, доцент, к.э.н.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>