<div class="content bg-full bg-light-gray">
	<div class="block-text row">
		<div class="offset-left">
			<div class="block-text__body">
				Изучение языков — 20 часов в неделю!
			</div>

			<div class="text-cols grid grid_md-3">
				<div class="text-col-title">1 <span>вариант <br>обучения</span></div>
				<div class="text-col-body">
					<h4>Первый язык&nbsp;&mdash; английский</h4>
					<ul>
						<li>General English</li>
						<li>Business English</li>
						<li>Подготовка к&nbsp;IELTS</li>
						<li>Guide to&nbsp;Business Correspondence</li>
						<li>Strategies &amp;&nbsp;Tactics of&nbsp;Business Communication</li>
						<li>Insights into International Relations</li>
					</ul>
				</div>
				<div class="text-col-body">
					<h4>Второй язык&nbsp;&mdash; на&nbsp;выбор</h4>
					<ul>
						<li>Французский</li>
						<li>Немецкий</li>
						<li>Испанский</li>
						<li>Итальянский</li>
						<li>Португальский</li>
					</ul>
				</div>
			</div>

			<div class="text-cols grid grid_md-3">
				<div class="text-col-title">2 <span>вариант <br>обучения</span></div>
				<div class="text-col-body">
					<h4>Первый язык&nbsp;&mdash; <br>региона специализации</h4>
					<strong>Китайский язык</strong>
					<ul>
						<li>Бизнес китайский язык</li>
						<li>Разговорный курс</li>
						<li>Общественно-политический перевод</li>
					</ul>
					<strong>Арабский язык</strong>
					<ul>
						<li>Бизнес арабский язык</li>
						<li>Разговорный язык</li>
						<li>Общественно-политический перевод</li>
						<li>Английский язык (General &amp;&nbsp;Business English)</li>
					</ul>
				</div>
				<div class="text-col-body">
					<h4>Второй язык&nbsp;&mdash; английский</h4>
					<ul>
						<li>General English</li>
						<li>Business English</li>
						<li>Подготовка к IELTS</li>
						<li>Guide to Business Correspondence</li>
						<li>Strategies &amp; Tactics of Business Communication</li>
						<li>Insights into International Relations</li>
					</ul>
				</div>
			</div>

			<div class="block-text__body">
				Мы&nbsp;предоставляем языковые стажировки <br>в&nbsp;странах Азии и&nbsp;Африки
			</div>
			<div class="block-text__buttons mb40">
				<a href="javascript:void(0)" class="btn">Подробнее о&nbsp;партнёрских языковых программах</a>
			</div>
		</div>
	</div>
</div>