<div class="content bg-full bg-light-gray">
	<div class="row">
		<div class="timeline-vertical offset-left">
			<div class="timeline-vertical__list">
				<div class="t-item">
					<div class="t-item__step">
						<div>10</div> <span>класс</span>
					</div>
					<div class="t-item__wrapper grid grid_xl-2">
						<div>
							<h3>Школа международника</h3>
							<p>Каждый год в&nbsp;июне ИБДА приглашает на&nbsp;обучение школьников, неравнодушных к&nbsp;международной проблематике и&nbsp;глобальным проблемам. Ребятам предлагается решить кейс, специально подготовленный экспертами Всемирного банка. Кейс основан на&nbsp;реальной практике и&nbsp;затрагивает одну из&nbsp;Целей устойчивого развития ООН в&nbsp;конкретном регионе или стране.</p>
						</div>
						<div></div>
					</div>
				</div>
				<div class="t-item">
					<div class="t-item__step"><span>до <br>начала</span></div>
					<div class="t-item__wrapper grid grid_xl-2">
						<div>
							<h3>Карьерная консультация</h3>
							<p>Два раза в&nbsp;год на&nbsp;Дне открытых дверей РАНХиГС Факультет проводит мастер-класс по&nbsp;выбору карьеры в&nbsp;области международных отношений. Первые зарегистрировавшиеся на&nbsp;мероприятие получают возможность пройти карьерную консультацию с&nbsp;нашим лицензированным специалистом.</p>
						</div>
					</div>
				</div>
				<div class="t-item">
					<div class="t-item__step">
						<div>1</div> <span>курс</span>
					</div>
					<div class="t-item__wrapper grid grid_xl-2">
						<div>
							<h3>Введение в&nbsp;специальность</h3>
							<p>Обучение студентов начинается со&nbsp;специально разработанного курса по&nbsp;профессиональной ориентации, в&nbsp;рамках которого объясняется какие компетенции и&nbsp;навыки студент может развить в&nbsp;течение обучения, что для этого сделать и&nbsp;как в&nbsp;последствии сделать продающее резюме.</p>
						</div>
					</div>
				</div>
				<div class="t-item">
					<div class="t-item__step">
						<div>2</div> <span>курс</span>
					</div>
					<div class="t-item__wrapper grid grid_xl-2">
						<div>
							<h3>Обязательная языковая практика</h3>
							<p>После второго года обучения все студенты проходят языковую практику, в&nbsp;рамках которой предполагается применение знаний, полученных в&nbsp;результате двухлетнего интенсивного изучения иностранных языков.</p>
						</div>
						<div>
							<h3>Волонтёрская практика</h3>
							<p>ИБДА РАНХиГС&nbsp;&mdash; организатор множества международных мероприятий, самое яркое из&nbsp;которых&nbsp;&mdash; Гайдаровский форум. Студенты ИБДА традиционно работают с&nbsp;иностранными VIP-гостями форума и&nbsp;впоследствии награждаются именными сертификатами от&nbsp;руководства вуза.</p>
						</div>
					</div>
				</div>
				<div class="t-item">
					<div class="t-item__step">
						<div>3</div> <span>курс</span>
					</div>
					<div class="t-item__wrapper grid grid_xl-2">
						<div>
							<h3>Производственная практика</h3>
							<p>После третьего года обучения студент обязан пройти производственную практику, написать и&nbsp;затем защитить отчет о&nbsp;её&nbsp;прохождении.</p>
						</div>
						<div>
							<h3>Управление карьерой</h3>
							<p>На&nbsp;третьем курсе студенты осваивают обязательный курс по&nbsp;управлению карьерой, который ведет профессиональный бизнес-тренер. В&nbsp;ходе курса студентов учат подбирать стажировки, а&nbsp;также делятся секретами успешного прохождения интервью.</p>
						</div>
					</div>
				</div>
				<div class="t-item">
					<div class="t-item__step">
						<div>4</div> <span>курс</span>
					</div>
					<div class="t-item__wrapper grid grid_xl-2">
						<div>
							<h3>Консалтинговый проект</h3>
							<p>На&nbsp;последнем курсе студенты в&nbsp;группах работают над решением для консалтингового проекта, задачу для которого формулируют реальные заказчики, ожидающие полезных рекомендаций по&nbsp;решению актуальных проблем их&nbsp;бизнеса.</p>
						</div>
					</div>
				</div>
				<div class="t-item">
					<div class="t-item__step"><span>после <br>выпуска</span></div>
					<div class="t-item__wrapper grid grid_xl-2">
						<div>
							<h3>Членство в&nbsp;ассоциации выпускников</h3>
							<p>После окончания обучения выпускник автоматически становится членом ассоциации выпускников ИБДА РАНХиГС, что дает доступ к&nbsp;закрытой рассылке с&nbsp;объявлениями о&nbsp;мастер-классов известных спикеров, а&nbsp;также вакансиях от&nbsp;других членов ассоциации.</p>
						</div>
						<div>
							<h3>Карьерный дайджест</h3>
							<p>Каждые несколько недель в&nbsp;социальных сетях Факультета выходит &laquo;карьерный дайджест&raquo;, в&nbsp;котором карьерный консультант создает подборку потенциально интересных стажировок и&nbsp;вакансий для наших студентов и&nbsp;выпускников.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>