<div class="content" id="history">
	<div class="block-text row">
		<div class="offset-left">
			<div class="h3">
				История факультета
			</div>
		</div>
	</div>
</div>

<div class="timeline scrollblock hide-scroll scroll-x js-wheel-scroll-x js-draggable">
	<div class="timeline__wrapper">
		<div class="timeline__list">
			<div class="t-item">
				<div class="t-item__step">1988</div>
				<div class="t-item__header">Год основания</div>
				<div class="t-item__body"></div>
			</div>
			<div class="t-item">
				<div class="t-item__step">1995</div>
				<div class="t-item__header">Переезд в АНХ</div>
				<div class="t-item__body">Переезд в&nbsp;Академию народного хозяйства (АНХ) при Правительстве&nbsp;РФ, переименование</div>
			</div>
			<div class="t-item">
				<div class="t-item__step">2010</div>
				<div class="t-item__header">Образование РАНХиГС</div>
				<div class="t-item__body">Образование РАНХиГС</div>
			</div>
			<div class="t-item">
				<div class="t-item__step">2011</div>
				<div class="t-item__header">Открытие факультета</div>
				<div class="t-item__body">Открытие Факультета международных отношений ИБДА РАНХиГС при Президенте&nbsp;РФ</div>
			</div>
			<div class="t-item">
				<div class="t-item__step">2017</div>
				<div class="t-item__header">Аккредитация АМВА</div>
				<div class="t-item__body">Аккредитация одной из&nbsp;самых уважаемых ассоциаций в&nbsp;мире бизнес-образования&nbsp;&mdash; Association of&nbsp;MBAs</div>
			</div>
			<div class="t-item">
				<div class="t-item__step">2019</div>
				<div class="t-item__header">Аккредитация AACSB</div>
				<div class="t-item__body">Первая школа бизнеса в&nbsp;России с&nbsp;международной аккредитацией AACSB</div>
			</div>
		</div>
	</div>
</div>