<div class="content mb40">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="character character_type-2">
					<svg>
						<use xlink:href="#character-2"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Фьюжен Мнений и Опыта</div>
				</div>
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-14-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-14-768.jpg">
						<source srcset="@img/block-text-decor-14-320.jpg">
						<img src="@img/block-text-decor-14-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h3">Предметы</div>
			<div class="h1">Перспективы обучения</div>
			<div class="block-text__body">Обучение студентов начинается со&nbsp;специально разработанного курса по&nbsp;профессиональной ориентации, в&nbsp;рамках которого объясняется какие компетенции и&nbsp;навыки студент может развить в&nbsp;течение обучения, что для этого сделать и&nbsp;как в&nbsp;последствии сделать продающее резюме.
				<ul>
					<li><a href="javascript:void(0)">По программам</a></li>
					<li><a href="javascript:void(0)">По курсам</a></li>
					<li><a href="javascript:void(0)">Видео лекций</a></li>
					<li><a href="javascript:void(0)">Список литературы</a></li>
				</ul>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Подробнее</a>
			</div>
		</div>
	</div>
</div>