<div class="content" id="zarubezhnoe-regionovedenie">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-25-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-25-768.jpg">
						<source srcset="@img/block-text-decor-25-320.jpg">
						<img src="@img/block-text-decor-25-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Зарубежное регионоведение</div>
			<div class="block-text__head">
				Подготовка мультифункциональных специалистов для работы с&nbsp;зарубежными партнёрами
			</div>
			<div class="block-text__body">
				<p>Это направление готовит способных действовать в&nbsp;среде межгосударственного и&nbsp;делового взаимодействия и&nbsp;защищать и&nbsp;продвигать интересы России на&nbsp;международной арене.</p>
			</div>

			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Полная информация о&nbsp;поступлении</a>
			</div> -->
		</div>
	</div>
</div>