<div class="content" id="multidisciplinary-training">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-32-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-32-768.jpg">
						<source srcset="@img/block-text-decor-32-320.jpg">
						<img src="@img/block-text-decor-32-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h3">О&nbsp;ФМО</div>
			<div class="h1">Твое окно в&nbsp;глобальное будущее!</div>
			<div class="block-text__head">
				Наши выпускники владеют ключевыми теоретическими концепциями в&nbsp;области международных отношений, мировой политики, экономики и&nbsp;бизнеса
			</div>
			<div class="block-text__body">
				<p>Мы&nbsp;предоставляем полный спектр довузовского и&nbsp;послевузовского обучения от&nbsp;программ бакалавриата до&nbsp;программ переподготовки топ-менеджеров.</p>
			</div>
			<!-- <div class="block-text__note">
				<p></p>
			</div> -->
			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Полная информация о&nbsp;поступлении</a>
			</div> -->
		</div>
	</div>
</div>