<div class="content">
	<div class="block-text row">
		<div class="col-md-6">
			<div class="block-text__decor">
				<!-- <div class="character character_left character_type-1">
					<svg>
						<use xlink:href="#character-1"></use>
					</svg>
					<div class="frame frame_accent-fioletovyy frame_shape-3">ФМО: Философия Мирового Общения</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-34-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-34-768.jpg">
						<source srcset="@img/block-text-decor-34-320.jpg">
						<img src="@img/block-text-decor-34-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="h3">Лингвистическое обучение</div>
			<div class="h1">Преподаём языки профессионального общения!</div>
			<div class="block-text__head">
				Особенность обучения на&nbsp;бакалавриате ФМО&nbsp;&mdash; это изучение иностранных языков как языков профессиональной коммуникации.
			</div>
			<div class="block-text__body">
				<p>Китайский, арабский, французский и английский и еще пять европейских языков изучаются в объеме «первого языка», чтобы выпускники могли работать минимум на двух языках. Студенты изучают языки с 1 по 4 курс (от 20 часов в неделю в зависимости от программы). С 2023-2024 учебного года на факультете можно изучить редкие, но очень востребованные языки (например, суахили) в качестве третьего языка.</p>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Посмотреть программы обучения</a>
				<a href="javascript:void(0)" class="btn">Узнать про иностранные стажировки</a>
			</div>
		</div>
	</div>
</div>