<div class="content bg-full bg-light-gray">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-23-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-23-768.jpg">
						<source srcset="@img/block-text-decor-23-320.jpg">
						<img src="@img/block-text-decor-23-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Стать волонтёром</a>
				<a href="javascript:void(0)" class="btn">Отзывы студентов о&nbsp;практике</a>
				<a href="javascript:void(0)" class="btn">Статья на&nbsp;сайте РАНХиГС</a>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Волонтёрская деятельность</div>
			<div class="block-text__head">ИБДА&nbsp;&mdash; один из&nbsp;первых институтов, который начал внедрять принципы социальной ответственности в&nbsp;процесс обучения.</div>
			<div class="block-text__body">Студенты не&nbsp;только получают знания и&nbsp;навыки, необходимые для успешной карьеры в&nbsp;бизнесе, но&nbsp;и&nbsp;учатся осознавать свою роль в&nbsp;обществе, понимать важность этических норм и&nbsp;устойчивого развития. Такой подход позволяет воспитать новое поколение лидеров, которые будут способны принимать решения, учитывающие интересы всех сторон.</div>
			<div class="h3">Обязательная социальная практика</div>
			<div class="block-text__note">
				<p>Каждый первокурскник проходит социальную практику в&nbsp;волонтёрском движении. Многие из&nbsp;них продолжать участвовать на&nbsp;протяжении всего обучения.</p>
				<p>Студенты учатся понимать реальную жизнь, чувствовать нужды не&nbsp;только общества, но&nbsp;и&nbsp;конкретных людей, у&nbsp;которых есть свои трудности и&nbsp;проблемы. Через взаимодействие с&nbsp;разными социальными группами, такими как дети из&nbsp;домов социального обслуживания, пенсионерами или людьми с&nbsp;различными нарушениями, студенты приобретают навыки эмпатии, терпения и&nbsp;коммуникации.</p>
			</div>
		</div>
	</div>
</div>