<div class="content">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<!-- <div class="character character_type-2">
					<svg>
						<use xlink:href="#character-2"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Фьюжен Мнений и Опыта</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-19-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-19-768.jpg">
						<source srcset="@img/block-text-decor-19-320.jpg">
						<img src="@img/block-text-decor-19-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Присоединяйся к&nbsp;нашей жизни</div>
			<div class="block-text__body">
				<p>Наши студенты могут проявить свои таланты в&nbsp;самых разных сферах&nbsp;&mdash; от&nbsp;литературных дебатов до&nbsp;конкурсов красоты. Ежегодно в&nbsp;Академии проводятся творческие фестивали, интеллектуальные конкурсы, новогодние балы, а&nbsp;также работают разноформатные развлекательные и&nbsp;политические клубы. К&nbsp;концу обучения резюме выпускников выглядит весьма солидно.</p>
			</div>
			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Подробнее</a>
			</div> -->
		</div>
	</div>
</div>