<div class="content" id="multidisciplinary-training">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-24-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-24-768.jpg">
						<source srcset="@img/block-text-decor-24-320.jpg">
						<img src="@img/block-text-decor-24-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Многопрофильное обучение</div>
			<div class="block-text__head">
				Выбор профессии только после первого курса&nbsp;&mdash; есть время понять куда идти.
			</div>
			<div class="block-text__body">
				<p>В&nbsp;течение 4&nbsp;семестров студент знакомится с&nbsp;основными направлениями международной деятельности, чтобы впоследствии выбрать профессию идеально подходящую под его желания, способности и&nbsp;требования рынка.</p>
			</div>
			<div class="block-text__note">
				<p>Программы бакалавриата ФМО ИБДА РАНХиГС охватывают весь спектр международных отношений, включая политику, экономическое и&nbsp;бизнес-взаимодействие, и&nbsp;строятся на&nbsp;основе комплексного подхода. Имеют они и&nbsp;другие особенности. Первая связана с&nbsp;тем, что факультет функционирует в&nbsp;рамках бизнес-школы, а&nbsp;значит, весь образовательный процесс построен по&nbsp;принципу прикладного образования. Это обеспечивается привлечением большого числа преподавателей-практиков, а&nbsp;также самим форматом обучения, где значительная часть времени отведена работе над кейсами и&nbsp;проектами.</p>
			</div>

			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Полная информация о&nbsp;поступлении</a>
			</div> -->
		</div>
	</div>
</div>