<div class="content mb40">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-6-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-6-768.jpg">
						<source srcset="@img/block-text-decor-6-320.jpg">
						<img src="@img/block-text-decor-6-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
			<div class="benefits">
				<div class="benefits__item">
					<div>100<sup>%</sup></div>
					выпускников имеют конкурентное преимущество
				</div>
				<div class="benefits__item">
					<div>20<sup>%</sup></div>
					Находят работу на&nbsp;последних курсах
				</div>
				<div class="benefits__item">
					<div>30<sup>%</sup></div>
					Находят работу сразу после бакалавриата
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Перспективы обучения</div>
			<div class="h3">Планирование карьеры</div>
			<div class="block-text__head">Многопрофильное обучение настроено на&nbsp;быстрый рост карьеры, начиная с&nbsp;1&nbsp;курса.</div>
			<div class="block-text__body">На&nbsp;третьем курсе студенты осваивают обязательный курс по&nbsp;управлению карьерой, который ведет профессиональный бизнес-тренер. В&nbsp;ходе курса студентов учат подбирать стажировки, а&nbsp;также делятся секретами успешного прохождения интервью.
				<ul>
					<li><a href="javascript:void(0)">Проекты</a></li>
					<li><a href="javascript:void(0)">Работодатели</a></li>
					<li><a href="javascript:void(0)">Вакансии</a></li>
					<li><a href="javascript:void(0)">Истории успеха</a></li>
				</ul>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Всё о&nbsp;карьерных возможностях</a>
			</div>
		</div>
	</div>
</div>