<div class="content" id="obshchezhitie">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<!-- <div class="character character_type-2">
					<svg>
						<use xlink:href="#character-2"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Фьюжен Мнений и Опыта</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-30-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-30-768.jpg">
						<source srcset="@img/block-text-decor-30-320.jpg">
						<img src="@img/block-text-decor-30-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Общежития</div>
			<div class="block-text__head">
				Это четыре здания в&nbsp;разных частях Москвы, в&nbsp;том числе&nbsp;&mdash; на&nbsp;территории Центрального кампуса
			</div>
			<div class="block-text__body">
				Общежития РАНХиГС&nbsp;&mdash; это комфортные корпуса, оборудованные всем необходимым для комфортной жизни и&nbsp;учёбы студентов.
				На&nbsp;территорииях всех общежитий действует пропускная система, сотрудники охраны и&nbsp;видеокамеры обеспечивают контроль прилегающих территорий и&nbsp;безопасность проживающих.
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Подробнее на&nbsp;сайте РАНХиГС</a>
				<a href="javascript:void(0)" class="btn">Оставить заявку на&nbsp;общежитие</a>
			</div>
		</div>
	</div>
</div>