<div class="content" id="yazykovye-programmy">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-27-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-27-768.jpg">
						<source srcset="@img/block-text-decor-27-320.jpg">
						<img src="@img/block-text-decor-27-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Оставить заявку на&nbsp;грант</a>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Преподавание языков на уровне лингвистического ВУЗа</div>
			<div class="block-text__head">
				Безграничные возможности изучения дополнительных языков у&nbsp;лучших преподавателей
			</div>
			<div class="block-text__body">
				<p>Наши выпускники умеют свободно коммуницировать в&nbsp;профессиональной среде, работать в&nbsp;команде и&nbsp;публично представлять результаты работы в&nbsp;международной среде на&nbsp;иностранных языках.</p>
			</div>
		</div>
	</div>
</div>