<div class="content" id="postroenie-karery">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-6-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-6-768.jpg">
						<source srcset="@img/block-text-decor-6-320.jpg">
						<img src="@img/block-text-decor-6-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Оставить заявку на&nbsp;грант</a>
			</div> -->
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Построение карьеры</div>
			<div class="block-text__head">
				Многопрофильное обучение настроено на&nbsp;быстрый рост карьеры, начиная с&nbsp;1&nbsp;курса.
			</div>
			<div class="block-text__body">
				<p>Наши выпускники имеют широкие возможности трудоустройства:</p>
			</div>
			<div class="block-text__list">
				<ul>
					<li>международный, аналитический, GR&nbsp;отделы международных компаний</li>
					<li>органы государственной власти</li>
					<li>консалтинговые и&nbsp;аналитические агентства</li>
					<li>международный маркетинг, средства массовой информации</li>
					<li>международные организации</li>
				</ul>
			</div>
		</div>
	</div>
</div>