<div class="content">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-22-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-22-768.jpg">
						<source srcset="@img/block-text-decor-22-320.jpg">
						<img src="@img/block-text-decor-22-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Конкурсы</div>
			<div class="block-text__head">
				Факультет регулярно предлагает участие в&nbsp;конкурсах, дающих преимущество в&nbsp;дальнейшей учёбе и&nbsp;составлении конкурентного портфолио.
			</div>
			<div class="block-text__body">
				<p>Наши студенты имеют множество возможностей для участия в&nbsp;различных конкурсах, которые помогают развивать их&nbsp;навыки и&nbsp;строить успешную карьеру.</p>
			</div>

			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Полная информация о&nbsp;поступлении</a>
			</div> -->
		</div>
	</div>
</div>