<div class="content" id="usloviya-priyoma">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<!-- <div class="character character_type-2">
					<svg>
						<use xlink:href="#character-2"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Фьюжен Мнений и Опыта</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-29-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-29-768.jpg">
						<source srcset="@img/block-text-decor-29-320.jpg">
						<img src="@img/block-text-decor-29-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
			<div class="block-text__note">
				<h4>Старт программы: 1&nbsp;сентября 2024*&nbsp;г.</h4>
				<p>Адрес: Москва, пр-т Вернадского&nbsp;82, корп.2, каб.&nbsp;243<br>
					Email: <a href="mailto:mo-ibda@ranepa.ru">mo-ibda@ranepa.ru</a><br>
					Телефон: <a href="tel:+74994553196">+7 (499) 455-31-96</a></p>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Памятка подачи документов</a>
				<a href="javascript:void(0)" class="btn">Актуальная информация на&nbsp;сайте ИБДА</a>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Условия приёма 2024&nbsp;г.</div>
			<!-- <div class="block-text__head">
			</div> -->
			<!-- <div class="block-text__body">
			</div> -->
			<div class="block-text__note">
				<h4>Сроки подачи и&nbsp;зачисления на&nbsp;договор в&nbsp;2024*&nbsp;г</h4>
				<p>
					<strong>20&nbsp;июня</strong>&nbsp;&mdash; Начало приема документов<br>
					<strong>15&nbsp;августа</strong>&nbsp;&mdash; Завершение приема документов<br>
					<strong>16&nbsp;августа</strong>&nbsp;&mdash; Публикация конкурсных списков<br>
					<strong>18&nbsp;августа</strong>&nbsp;&mdash; Завершение приема оригиналов документов<br>
					<strong>21&nbsp;августа</strong>&nbsp;&mdash; Издание приказа о&nbsp;зачислении
				</p>
				<br>
				<h4>Способы подачи документов</h4>
				<ul>
					<li>Лично поступающим</li>
					<li>В&nbsp;<a href="https://my.ranepa.ru/online/pk/" target="_blank">личном кабинете</a> на&nbsp;сайте Академии</li>
					<li>Сервис <a href="https://www.gosuslugi.ru/vuzonline" target="_blank">&laquo;Поступи в&nbsp;ВУЗ-онлайн&raquo;</a></li>
				</ul>
				<br>
				<h4>Документы для подачи (скан&nbsp;/ копии)</h4>
				<ul>
					<li>Паспорт (2-3&nbsp;страница, страница с&nbsp;пропиской)</li>
					<li>Страховой номер индивидуального лицевого счёта (СНИЛС) (при наличии)</li>
					<li>Аттестация/Диплом и&nbsp;приложение к&nbsp;нему</li>
					<li>Фотография (размер 3&times;4)</li>
					<li>Индивидуальные достижения (при наличии)</li>
					<li>Особые права (при наличии)</li>
				</ul>
				<br><br>
				<p>* Актуальную информацию уточняйте по&nbsp;телефону <br>или оставив заявку через форму</p>
			</div>
			<!-- <div class="block-text__buttons">
			</div> -->
		</div>
	</div>
</div>