<div class="content bg-full bg-light-gray" id="kvn">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<!-- <div class="character character_type-2">
					<svg>
						<use xlink:href="#character-2"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Фьюжен Мнений и Опыта</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-20-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-20-768.jpg">
						<source srcset="@img/block-text-decor-20-320.jpg">
						<img src="@img/block-text-decor-20-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Развлекательные мероприятия</div>
			<div class="block-text__body">
				<p>Спектр проводимых мероприятий и работающих студенческих кружков очень широк: начиная от самодеятельности, вокальных и танцевальных конкурсов, клубов КВН и танцевальных кружков до интеллектуальных летних лагерей и школ.</p>
			</div>
			<div class="block-text__note">
				<h3>КВН</h3>
				<p>Клуб веселых и&nbsp;находчивых&nbsp;&mdash; площадка для развития молодых, энергичных, смелых и&nbsp;веселых студентов Президентской Академии. Здесь формируется командная работа и&nbsp;создаются дружеские связи. За&nbsp;нашими плечами множество игр, наград, смеха, побед, ошибок и&nbsp;непередаваемых эмоций.</p>
				<br>
				<h3>День Китайской культуры</h3>
				<p>Организация ежегодного праздника для всех, кому интересен Китай и&nbsp;его самобытная культура. Проведение мастер-классов по&nbsp;китайской каллиграфии и&nbsp;китайским боевым единоборствам (ушу), дегустации различных сортов китайского чая и&nbsp;китайских сладостей.</p>
				<br>
				<h3>Мероприятия круглый год</h3>
				<ul>
					<li>Калейдоскоп культур</li>
					<li>Academic Music Awards</li>
					<li>Новогодний Бал</li>
					<li>Летний кампус Президентской академии</li>
					<li>Всероссийская студенческая спартакиада</li>
					<li>Мисс Президентская академия</li>
				</ul>
			</div>
			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Подробнее</a>
			</div> -->
		</div>
	</div>
</div>