<div class="content" id="kak-postupit">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<!-- <div class="character character_type-2">
					<svg>
						<use xlink:href="#character-2"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Фьюжен Мнений и Опыта</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-28-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-28-768.jpg">
						<source srcset="@img/block-text-decor-28-320.jpg">
						<img src="@img/block-text-decor-28-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Подробнее о&nbsp;языковых программах</a>
			</div> -->
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Вступительные испытания</div>
			<!-- <div class="block-text__head">
			</div> -->
			<div class="block-text__body">
				<p>Для поступления на&nbsp;программы факультета необходимо предоставить результаты ЕГЭ по&nbsp;предметам: история, русский язык, иностранный язык (любой), математика, обществознание.</p>
				<p>Абитуриент может получить до&nbsp;10&nbsp;конкурсных баллов за&nbsp;индивидуальные достижения.</p>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Общие правила приёма РАНХиГС</a>
				<a href="javascript:void(0)" class="btn">Учёт индивидуальных достижений</a>
			</div>
		</div>
	</div>
</div>