<div class="content" id="voenno-uchebnyj-centr">
	<div class="block-text row">
		<div class="col-md-6">
			<div class="block-text__decor">
				<!-- <div class="character character_left character_type-1">
					<svg>
						<use xlink:href="#character-1"></use>
					</svg>
					<div class="frame frame_accent-fioletovyy frame_shape-3">ФМО: Философия Мирового Общения</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-33-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-33-768.jpg">
						<source srcset="@img/block-text-decor-33-320.jpg">
						<img src="@img/block-text-decor-33-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="h3">Программы обучения</div>
			<div class="h1">Выбирай свою!</div>
			<div class="block-text__head">
				Наши выпускники владеют ключевыми теоретическими концепциями в&nbsp;области международных отношений, мировой политики, экономики и&nbsp;бизнеса
			</div>
			<!-- <div class="block-text__body">
			</div>
			<div class="block-text__buttons">
			</div> -->
		</div>
	</div>
</div>