<div class="content" id="mezhdunarodnyj-bakalavriat">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-26-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-26-768.jpg">
						<source srcset="@img/block-text-decor-26-320.jpg">
						<img src="@img/block-text-decor-26-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Бакалавриат: 2 диплома за 4 года</div>
			<div class="block-text__head">
				Российско-французская программа с&nbsp;углубленным изучением иностранных языков бакалаврская программа
			</div>
			<div class="block-text__body">
				<p>Программа двух дипломов является уникальным инновационным продуктом на&nbsp;российском рынке образования. Она представляет собой синтез лучших наработок двух ведущих бизнес-школ России и&nbsp;Марокко&nbsp;&mdash; ИБДА РАНХиГС и&nbsp;ESCA Business School.</p>
			</div>

			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Полная информация о&nbsp;поступлении</a>
			</div> -->
		</div>
	</div>
</div>