<div class="content mb40">
	<div class="block-text row">
		<div class="col-md-6">
			<div class="block-text__decor">
				<div class="character character_left character_type-2">
					<svg>
						<use xlink:href="#character-5"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Философия Мирового Общения</div>
				</div>
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-15-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-15-768.jpg">
						<source srcset="@img/block-text-decor-15-320.jpg">
						<img src="@img/block-text-decor-15-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="h3">Внеучебная деятельность</div>
			<div class="h1">Присоединяйся к&nbsp;нашей жизни</div>
			<div class="block-text__body">
				Кроме того, наши студенты принимают участие в&nbsp;мероприятиях Академии. Спектр проводимых мероприятий и&nbsp;работающих студенческих кружков очень широк: начиная от&nbsp;самодеятельности, вокальных и&nbsp;танцевальных конкурсов, клубов КВН и&nbsp;танцевальных кружков до&nbsp;интеллектуальных летних лагерей и&nbsp;школ.
				<ul>
					<li><a href="javascript:void(0)">КВН</a></li>
					<li><a href="javascript:void(0)">Спорт</a></li>
					<li><a href="javascript:void(0)">Конкурсы</a></li>
					<li><a href="javascript:void(0)">Волонтёрство</a></li>
				</ul>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn"> Узнать подробнее</a>
			</div>
		</div>
	</div>
</div>