<div class="content" id="voenno-uchebnyj-centr">
	<div class="block-text row">
		<div class="col-md-6">
			<div class="block-text__decor">
				<!-- <div class="character character_left character_type-1">
					<svg>
						<use xlink:href="#character-1"></use>
					</svg>
					<div class="frame frame_accent-fioletovyy frame_shape-3">ФМО: Философия Мирового Общения</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-31-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-31-768.jpg">
						<source srcset="@img/block-text-decor-31-320.jpg">
						<img src="@img/block-text-decor-31-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="h1">Военно-учебный центр</div>
			<div class="block-text__head">
				В&nbsp;2021 году на&nbsp;базе Академии создан военный учебный центр, который осуществляет военную подготовку студентов в&nbsp;интересах Главного командования Сухопутных войск
			</div>
			<div class="block-text__body">
				Студентам, которые успешно завершат обучение в&nbsp;рамках системы военной подготовки, после окончания Академии будет присвоено воинское звание в&nbsp;соответствии с&nbsp;освоенной программой военной подготовки с&nbsp;одновременным зачислением в&nbsp;запас Вооруженных Сил Российской Федерации.
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Подробнее на&nbsp;сайте РАНХиГС</a>
				<a href="javascript:void(0)" class="btn">Оставить заявку на&nbsp;обучение</a>
			</div>
		</div>
	</div>
</div>