<div class="content" id="sport">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<!-- <div class="character character_type-2">
					<svg>
						<use xlink:href="#character-2"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Фьюжен Мнений и Опыта</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-21-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-21-768.jpg">
						<source srcset="@img/block-text-decor-21-320.jpg">
						<img src="@img/block-text-decor-21-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Спорт</div>
			<div class="block-text__head">Спортивные занятия улучшают концентрацию, память и&nbsp;способность справляться со&nbsp;стрессом, что положительно сказывается на&nbsp;учебных достижениях.</div>
			<div class="block-text__body">
				<p>Для студентов и&nbsp;сотрудников работают секции по&nbsp;25&nbsp;видам спорта&nbsp;&mdash; от&nbsp;волейбола до&nbsp;чирлидинга. Открыты бассейны, спортплощадки, фитнес-залы, стадион, скалодром. Действует спортивный клуб &laquo;Сенатор&raquo;, проводятся спартакиады, а&nbsp;сборные Академии выступают на&nbsp;федеральных турнирах.</p>
			</div>
			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Подробнее</a>
			</div> -->
		</div>
	</div>
</div>