<div class="content bg-full bg-light-gray" id="stazhirovki">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<!-- <div class="character character_type-2">
					<svg>
						<use xlink:href="#character-2"></use>
					</svg>
					<div class="frame frame_accent-red frame_shape-3">ФМО: Фьюжен Мнений и Опыта</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-9-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-9-768.jpg">
						<source srcset="@img/block-text-decor-9-320.jpg">
						<img src="@img/block-text-decor-9-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Подробнее о&nbsp;языковых программах</a>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h1">Языковые партнёрские программы</div>
			<div class="block-text__head">
				Факультет активно сотрудничает с&nbsp;ведущими университетами и&nbsp;бизнес-школами Китая и&nbsp;арабских стран, чтобы обеспечить каждому выпускнику возможность максимально раскрыть свой потенциал.
			</div>
			<div class="block-text__body">
				<p>Студенты получают уникальный шанс погрузиться в&nbsp;культурное и&nbsp;деловое окружение другой страны, что способствует расширению их&nbsp;кругозора и&nbsp;укреплению межкультурных коммуникационных навыков.</p>
			</div>
			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Подробнее</a>
			</div> -->
		</div>
	</div>
</div>