<div class="content" id="granty">
	<div class="block-text row">
		<div class="col-md-6">
			<div class="block-text__decor">
				<!-- <div class="character character_left character_type-1">
					<svg>
						<use xlink:href="#character-1"></use>
					</svg>
					<div class="frame frame_accent-fioletovyy frame_shape-3">ФМО: Философия Мирового Общения</div>
				</div> -->
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-2-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-2-768.jpg">
						<source srcset="@img/block-text-decor-2-320.jpg">
						<img src="@img/block-text-decor-2-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="h1">Бюджетные места и&nbsp;скидки</div>
			<div class="h3">Бюджетные места</div>
			<div class="block-text__body">
				Мы&nbsp;предоставляем бюджетные места студентам, набравшим наибольшую сумму баллов ЕГЭ и&nbsp;имеющих максимальное количество личных достижений среди всех поступающих. <br><strong>Внимание!</strong> Количество бюджетных мест может изменяться. Проверяйте актуальную информацию на&nbsp;сайте РАНХиГС
				<br>
				<br>
				<a href="javascript:void(0)" class="btn">Проверить количество бюджетных мест</a>
			</div>

			<div class="h3">Скидки на&nbsp;обучение</div>
			<div class="block-text__2-cols">
				<div class="block-text__col-title">-20%</div>
				<div class="block-text__col-body">За&nbsp;достижения в&nbsp;учебе в&nbsp;школе (например, золотая медаль, сертификаты, победы на&nbsp;региональных этапах олимпиад) студент может получить грант до&nbsp;20% на&nbsp;первый год обучения.</div>
			</div>


			<div class="h3">индивидуальные достижения</div>
			<div class="block-text__note">
				<p>В&nbsp;Академии устанавливается следующий порядок учета индивидуальных достижений:</p>
				<ul>
					<li>При подаче заявления о&nbsp;приеме на&nbsp;обучение поступающий указывает сведения о&nbsp;своих индивидуальных достижениях и&nbsp;представляет документы, подтверждающие получение результатов индивидуальных достижений;</li>
					<li>Индивидуальные достижения поступающих учитываются при приеме как на&nbsp;места, финансируемые за&nbsp;счет бюджетных ассигнований, так и&nbsp;на&nbsp;места по&nbsp;договорам об&nbsp;оказании платных образовательных услуг на&nbsp;все формы и&nbsp;условия обучения;</li>
					<li>Количественная оценка индивидуальных достижений осуществляется суммированием баллов за&nbsp;каждое имеющееся у&nbsp;поступающего индивидуальное достижение;</li>
					<li>Баллы, начисленные за&nbsp;индивидуальные достижения, включаются в&nbsp;сумму конкурсных баллов;</li>
					<li>Сумма баллов, начисленных поступающему за&nbsp;индивидуальные достижения, не&nbsp;может быть более 10&nbsp;баллов (в&nbsp;т.ч. если сумма баллов за&nbsp;индивидуальные достижения превышает 10&nbsp;баллов);</li>
					<li>Баллы за&nbsp;индивидуальные достижения начисляются после оценки сотрудниками приемной комиссии документов, представленных поступающим, вносятся в&nbsp;электронную информационную систему Академии и&nbsp;доводятся до&nbsp;сведения поступающих путем размещения соответствующей информации на&nbsp;официальном сайте Академии;</li>
					<li>Баллы за&nbsp;один вид индивидуального достижения начисляются однократно (вне зависимости от&nbsp;их&nbsp;количества).</li>
				</ul>
			</div>

			<div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Актуальный список достижений (pdf)</a>
			</div>


		</div>
	</div>
</div>