<div class="content" id="multidisciplinary-training">
	<div class="block-text row">
		<div class="col-md-6 order-md-last">
			<div class="block-text__decor">
				<div class="block-text__decor-img">
					<picture>
						<source media="(min-width: 1280px)" srcset="@img/block-text-decor-35-1280.jpg">
						<source media="(min-width: 768px)" srcset="@img/block-text-decor-35-768.jpg">
						<source srcset="@img/block-text-decor-35-320.jpg">
						<img src="@img/block-text-decor-35-1280.jpg" width="960" height="1074" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="offset-left col-md-6">
			<div class="h3">Преподаватели</div>
			<div class="h1">Учись у&nbsp;самых лучших!</div>
			<div class="block-text__head">
				Наши выпускники владеют ключевыми теоретическими концепциями в&nbsp;области международных отношений, мировой политики, экономики и&nbsp;бизнеса
			</div>
			<div class="block-text__body">
				<p>Наша миссия&nbsp;&mdash; формирование нового поколения социально ответственной предпринимательской и&nbsp;управленческой элиты России и&nbsp;содействие развитию российского бизнес-образования.</p>
			</div>
			<!-- <div class="block-text__note">
				<p></p>
			</div> -->
			<!-- <div class="block-text__buttons">
				<a href="javascript:void(0)" class="btn">Все преподаватели</a>
			</div> -->
		</div>
	</div>
</div>