<div class="badge badge_vertical"><a href="javascript:void(0)" class="badge__link">Ближайшие мероприятия</a></div>
<div class="content">
	<div class="block-text row">
		<div class="offset-left col-md-6">
			<div class="h3">Что такое ФМО?</div>
			<div class="h1">Начни карьеру в&nbsp;международном бизнесе</div>
			<div class="rating">
				<div class="rating__place">№1</div>
				<div class="rating__text">В&nbsp;<a href="javascript:void(0)" rel="nofollow" target="_blank">народном рейтинге</a> бизнес-школ с&nbsp;2012&nbsp;г.</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="block-text__head">Факультет международных отношений&nbsp;&mdash; лидер российских и&nbsp;международных рейтингов, обладающий мировым признанием.</div>
			<div class="block-text__sub">
				Наша цель&nbsp;&mdash; <i>формирование</i> нового поколения социально ответственного и&nbsp;<i>мотивированного</i> предпринимательского и&nbsp;управленческого пула России и&nbsp;содействие активному развитию российского бизнес-<i>образования</i>.
			</div>
		</div>
	</div>
</div>